
*{
	 margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Celulares Moto G*/
@media (min-width: 321px) and (max-width:  360.97px) {
    body{
        
      
        margin: 0 ;
        padding: 0;
         
         overflow-x: hidden;
          font-family:Noto Sans, sans-serif;
         
        
         
         background: lavender;
        
        min-height: 900px;
        

    }

    html{
         overflow-x: hidden;

    }


    .container-fluid{
         
         width: 400px;

    }

    #header{
        width:360px;
        background: #0E0816;
        position: relative;
        left:-1em;
    }

    #img-logo{
        max-width:300px;
        max-height: 70px;
        position: relative;
        left:1em;
    }

    #data-hora-header{
        max-width: 330px;
        position: relative;
        left:0em;
        font-size: 1.2em;
        font-weight: 600;
        
        white-space: nowrap;
        
    }


    #navegacao{
        width: 360px;
        position: relative;
        left:-1.5em;
    }


    #pesquisa{
        
         max-height: 70px;
         
    }

    #barra-pesquisa{
        max-width: 360px;
        padding-left:2em;
        position: relative;
        left:0.3em;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        left: 0.5em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 320px;
        font-weight: 800;
        white-space: nowrap;
       font-size: 1.1em;
        border:1px solid red;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;
        border:1px solid red;
         max-width: 320px;
         position: relative;
        left:2em;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:0em;
        margin: 0.5em;
    }

    #editar-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:0em;
         margin: 0.5em;
       
    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.1em;
       
    }

    .text-decoration-none{
          text-decoration: none;
    }







    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 300px;
       
        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding: 1em;
        font-weight: 700;
        font-size: 1.2em;
       

    }

    .btn-menu:hover{
        max-width: 300px;
    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }

    
    #switch-dark-mode{
        
        position: relative;
        left:5em;
    }

    #btn-mode-dark{
        position: relative;
        left: 0em;
        top:0.3em;
        font-size: 2em;
        color:white;
    }

     input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        max-width: 360px;
        
        position: relative;
        top: 1em;
        left: -1em;
    }

    #leads-board{
        overflow-x: scroll;
        max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 360px;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;


    }

    


    

    .close{
        font-size: 4em;
        position: relative;
        top:-0.3em;
    }

    .modal-title{
        
        border-radius:5% ;
        white-space: nowrap;
        min-height: 20px;
        font-weight: 800;
        position: relative;
        top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
        border: 1px solid black;
        border-radius: 2%;
        position: relative;
        top:-1em;
        font-weight: 700;
        font-size: 1.2em;
    }

     .label-info-leads{
        font-size:1.3em ;
        font-weight:700 ;
    }

    .text-info-leads{
        
        white-space: nowrap;
        color: green;
        font-size: 0.8em;
    }

    #info-nome{
        position: relative;
        top:0.1em;
    }

    #campo-remetente{
        position: relative;
        top:1.5em;
    }

    .remetente-label{
        position: relative;
        top:0.5em;
    }

    #campo-recebido{
        position: relative;
        top:-3.5em;
        left:0em;
        

    }

    #campo-email{
        position: relative;
        top:0em;
    }

    #whatsapp-leads{
        position: relative;
        left: 0em;
    }

    .link-whatsapp{
        
        color: green;
        
    }

    #iniciar-atendimento{
        position: relative;
        left:2em;
        margin-bottom: 1em;
    }



    #historico-atendimento{
        position: relative;
        top:-1em;
        
        
    }

     #btn-cadastrar-atendimento{
        font-size: 1.5em;
        position: relative;
        left:0em;
    }
    





    #btn-mostra-display-atendimento{
        font-size: 1.5em;
        position: relative;
        left:0em;
    } 

    #display-atendimentos{
        overflow: scroll;
        height: 150px;
        width: 360px;
        white-space: normal;
        font-weight: 700;
        border:1px solid gray;
        border-radius: 2%;
        position: relative;
        top:-0.5em;
        left: 0.1em;

    }


   



    #descricao-atendimento{
        overflow: scroll;
        white-space: normal;
        height: 90px;
        width: 360px;
        font-size: 1.3em;
    }

    #cadastro-help{
        font-size: 1em;
    }

    #btn-salvara-atendimento{
        font-size: 2em;
        position: relative;
        left: 3.5em;
    }

   

    .leads-novo{
        color: green;
    }

    .leads-aberto{
        color: blue;
    }

    #envelope{
        position: relative;
        top:0.3em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 1.5em;
    }

    #remetente{
      
       max-width: 180px;
       
       position: relative;
       top:-2em;
       left:5em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{
       
       max-width: 140px;
       
       position: relative;
       top:-2em;
       left:7em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }

   

    

    

    footer{
        position: relative;
        left:-2em;
        top:5em;
        text-align: center;
        color:black;

    }

}



 
/* Celulares até 5,5 Polegadas Tamanho G */
@media (min-width: 376px) and (max-width:  414.98px) { 
	body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 
		 overflow-x: hidden;
		  font-family:Noto Sans, sans-serif;
		 
		
		 
		 background: lavender;
		
		min-height: 2000px;
		

	}

	html{
		 overflow-x: hidden;

	}


	.container-fluid{
		 
		 width: 400px;

	}

	#header{
		width:425px;
		background: #0E0816;
		position: relative;
		left:-1.5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:6em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:0em;
		font-size: 1.3em;
		font-weight: 600;
		
	}


	#navegacao{
		width: 425px;
		position: relative;
		left:-1.5em;
	}


	#pesquisa{
        
         max-height: 70px;
         
    }

    #barra-pesquisa{
        max-width: 415px;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
       
        border:1px solid red;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1em;
        border:1px solid red;
         max-width: 360px;
         position: relative;
        left:1em;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.85em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;
       
    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;
       
    }

    .text-decoration-none{
          text-decoration: none;
    }







    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;
       
        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;
       

    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }

    
    #switch-dark-mode{
    	
    	position: relative;
    	left:8em;
    }

    #btn-mode-dark{
    	position: relative;
    	left: 0em;
    	top:0.3em;
    	font-size: 2em;
    	color:white;
    }

     input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        width: 400px;
        
        position: relative;
        top: 1em;
        left: -1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 410px;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;


    }

    


    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{
    	
    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }

    .text-info-leads{
    	
    	white-space: nowrap;
    	color: green;
    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    	border:1px solid red;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;
    	

    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{
    	
    	color: green;
    	
    }

    #iniciar-atendimento{
    	position: relative;
    	left:3em;
    	margin-bottom: 1em;
    }



    #historico-atendimento{
    	position: relative;
    	top:-1em;
    	
    	
    }

     #btn-cadastrar-atendimento{
    	font-size: 1.5em;
    	position: relative;
    	left:0em;
    }
    





    #btn-mostra-display-atendimento{
    	font-size: 1.5em;
    	position: relative;
    	left:0em;
    } 

    #display-atendimentos{
    	overflow: scroll;
    	height: 150px;
    	width: 360px;
    	white-space: normal;
    	font-weight: 700;
    	border:1px solid gray;
    	border-radius: 2%;
    	position: relative;
    	top:-0.5em;
    	left: 0.1em;

    }


   



    #descricao-atendimento{
    	overflow: scroll;
    	white-space: normal;
    	height: 90px;
    	width: 360px;
    	font-size: 1.3em;
    }

    #cadastro-help{
    	font-size: 1em;
    }

    #btn-salvara-atendimento{
    	font-size: 2em;
    	position: relative;
    	left: 3.5em;
    }

   

   










    .leads-novo{
        color: green;
    }

    .leads-aberto{
        color: blue;
    }

   #envelope{
        position: relative;
        top:0.3em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 1.5em;
    }

    #remetente{
      
       max-width: 180px;
       
       position: relative;
       top:-2em;
       left:6em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{
       
       max-width: 140px;
       
       position: relative;
       top:-2em;
       left:8em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }


    #calendar{
        min-height: 550px;
        border:1px solid red;
        position: relative;
        top:1em;
        left:-1em;
        min-width: 400px;
    }

    tr{
        height: 4em;
       
    }

    .fc-view{
       
        background: red;

    }

    

    .fc-header-toolbar{
         border:1px solid red;
         min-height: 10em;
    }

    .fc-prev-button{
        position: relative;
        top:-3em;
        left:1em;

    }

    .fc-next-button{
        position: relative;
        top:-3em;
        left:21em;
        
    }

    .fc,.fc-toolbar-title{
        border:1px solid red;
        white-space: nowrap;
        font-size: 0.9em;
        position: relative;
        top:-1.7em;
        left: -0.7em;


    }

    .fc-timeGridWeek-button{
        position: relative;
        left:-22em;
        top:2em;

    }

    .fc-timegrid-slot-label-cushion{
        color: black;
    }

    .fc-timeGridDay-button{
        position: relative;
        left:-8em;
        top:2em;
    }

    a, .fc-col-header-cell-cushion{
        font-size: 1.2em;
        white-space: normal;
        text-decoration: none;
        color:black;
    }

    


   
	

	

	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}


}

