*{
	margin: 0;
	padding: 0;
}

#menu-deslizante{
	height: 90%;
	background: lightgray;
}



.card:hover{
    transform: scale(1.1);
	    z-index:2;
	    box-shadow: 1px 4px 19px 0px rgba(0,0,0,0.75);
	    -webkit-box-shadow: 1px 4px 19px 0px rgba(0,0,0,0.75);
	    -moz-box-shadow: 1px 4px 19px 0px rgba(0,0,0,0.75);
	}


        #insta {
	        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 0%, #fd5949 20%, #d6249f 60%, #285AEB 90%);
	        -webkit-background-clip: text;
	        /* Also define standard property for compatibility */
	        background-clip: text;
	        -webkit-text-fill-color: transparent;
	    }

      #logos-redes-sociais{
      	font-size: 2em;
      }

      .btn-redes-sociais:hover{
      	transform: scale(1.5);
      	text-decoration: none;
      }

      .hidden{
      	display:none;
      }



		.loader-container{
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background-color: rgba(0, 0, 0, 0.5);
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  z-index: 9999;
		}

		.logo{
		    width: 300px; /* Defina a largura desejada para a sua imagem */
            height: 300px; /* Defina a altura desejada para a sua imagem */
            border-radius: 50%;
		    animation: spin 3s linear 5;
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}

		.container{
		    display:block;
		}

		#whatsapp-flutuante-icone{
		    z-index:3;
		}











@media (max-width: 320.97px) {

	body{
		max-width: 100%;
		background:aliceblue;
	}

	header{
		background:#000000;
		max-height: 6em;
		min-width:320px;
	}

	#img-logo{
		max-height: 5em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:-0.1em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 120%;
		top:-2em;
		font-size: 1.2em;
	}




	#barra-pesquisa{
		min-width: 100%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:75%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left: 75%;
		top:-2.5em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:10em;
		left:0em;
         z-index:3;
		 padding: 0;
		
	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }
	    
	   



}

@media (min-width:  321.00px) and (max-width:360.98px) {

	body{
		max-width: 100%;
		background:aliceblue;
	}


	header{
		background:#000000;
		max-height: 6em;
		min-width:360px;
	}

	#img-logo{
		max-height: 5em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:-0.1em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 120%;
		top:-2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 5em;
	}

	#barra-pesquisa{
		max-width: 83%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:0em;
		top:0;
	}

	#btn-pesquisar{
		position: relative;
		left: 95%;
		top:-2.5em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:10em;
		left:0em;
        z-index:3;
		 padding: 0;
		
	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }



}

@media (min-width: 361px) and (max-width:  375.98px){
	body{
		max-width: 100%;
		background:aliceblue;
	}

	header{
		background:#000000;
		max-height: 6em;
		min-width:375px;

	}

	#img-logo{
		max-height: 5em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:-0.1em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 120%;
		top:-2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 5em;
	}




	#barra-pesquisa{
		max-width: 83%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:0em;
		top:0;
	}

	#btn-pesquisar{
		position: relative;
		left: 95%;
		top:-2.5em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:9em;
		left:0em;
		z-index: 3;
		 padding: 0;

	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }

}


@media (min-width: 376px) and (max-width:  428.98px) {
	body{
		max-width: 100%;
		background:aliceblue;
	}

	header{
		background:#000000;
		max-height: 6em;
		min-width:428px;
	}

	#img-logo{
		max-height: 5em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:-0.1em;
		left: -15%;
	}

	.fa-instagram{
		position: relative;
		left: 100%;
		top:-2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 5em;
	}


	#barra-pesquisa{
		min-width: 83%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:99%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left: 99%;
		top:-2.5em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:9em;
		left:0em;
		z-index: 3;
		 padding: 0;

	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }

	

}

@media (min-width: 429.00px) and (max-width:  767.98px) {
	body{
		min-width: 100%;
		background:aliceblue;
	}

	header{
		background:#000000;
		max-height: 6em;
	}

	#img-logo{
		max-height: 5em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:-0.1em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 120%;
		top:-2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 5em;
	}




	#barra-pesquisa{
		min-width: 150%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:150%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left: 150%;
		top:-2.5em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:9em;
		left:0em;
		z-index: 3;
		 padding: 0;
		
	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }
}

@media (min-width: 768.00px) and (max-width: 1024.97px){

	body{
		min-width: 100%;
		background:aliceblue;
	}

	header{
		background:#000000;
		max-height: 6em;
		min-width: 1024px;
		position: relative;
		left: -5em;
	}

	#img-logo{
		min-height: 6em;
		margin-left: 4em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
		position: relative;
		left: 0em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:0em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 20%;
		top:-0.2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 3em;
	}




	#barra-pesquisa{
		min-width: 200%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:200%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left:200%;
		top:-2.2em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:9em;
		left:1em;
		z-index: 3;
		 padding: 0;
		
	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }



	.card-title{
	    min-height:7em;
	    font-size:1em;
	}











}

@media (min-width: 1025px) and (max-width:1439.97px){
	body{
		min-width: 100%;
		background: aliceblue;
	}

	header{
		background:#000000;
		max-height: 6em;
		min-width: 1439px;
		position: relative;
		left: -8em;
	}

	#img-logo{
		min-height: 6em;
		margin-left: 4em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
		position: relative;
		left: 8em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:0em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 20%;
		top:-0.2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 3em;
	}




	#barra-pesquisa{
		min-width: 350%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:350%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left:350%;
		top:-2.2em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:9em;
		left:1em;
		z-index: 3;
		 padding: 0;
		
	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }

	.card{
	    min-width:10em;
	    max-width:25em;
	}

	.card-title{
	    min-height:6em;
	}





	
}

@media (min-width:1440px) and (max-width:2559.97px){
	body{
		min-width: 100%;
		background:aliceblue;
	}

	

	header{
		background:#000000;
		max-height: 6em;
		min-width: 2559px;
		position: relative;
		left: -15em;
	}

	#img-logo{
		min-height: 6em;
		margin-left: 10em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
		position: relative;
		left: -5em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:0em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 20%;
		top:-0.2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 3em;
	}




	#barra-pesquisa{
		min-width: 370%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:350%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left:350%;
		top:-2.3em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:10em;
		left:1em;
		z-index: 3;
		 padding: 0;
		
	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }

	.card{
	    min-width:10em;
	    max-width:25em;
	}

	.card-title{
	    min-height:6em;
	}

}

@media (min-width:2560px){
	body{
		
		background:aliceblue;
		max-width:100%;
	}


	

	header{
		background:#000000;
		max-height: 6em;
		min-width:2560px;
		position: relative;
		left: -45em;
	}

	#img-logo{
		min-height: 6em;
		margin-left: 10em;
	}

	#logos-redes-sociais{
		padding: 0.5em;
		position: relative;
		left: -5em;
	}

	.fa-facebook-official{
		font-size: 1.2em;
		position: relative;
		top:0em;
		left: -10%;
	}

	.fa-instagram{
		position: relative;
		left: 20%;
		top:-0.2em;
		font-size: 1.2em;
	}


	#img-logo{
		max-height: 3em;
	}




	#barra-pesquisa{
		min-width: 370%;
		position: relative;
		left: -30em;
	}

	#apagar-pesquisa{
		position: relative;
		left:350%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left:350%;
		top:-2.3em;
	}

	#display-anuncios{
		position: relative;
		left: -30em;
	}

	#div-carousel{
		max-width: 50%;
		margin: 5%;
	}

	#sobre{
		max-width: 55%;
	}

	footer{
		max-width: 55%;
	}
	}

	#whatsapp-flutuante{
         position: fixed;
		top:18em;
		left:80%;

		border-radius:50%;
		height:0.9em;
		width:0.9em;
		color:white;
		font-size:2.5em;
	}

	#h4{
		position: relative;
		left: -60em;
	}

	.card{
	    min-width:10em;
	    max-width:25em;
	}

	#whatsapp-flutuante-{
		position: fixed;
		top:10em;
		left:1em;
		z-index: 3;
		 padding: 0;
		
	}

	#btn-whatsapp-flutuante {
	    color: #25D366;
	    font-size: 3.1em;
	    background: white;
	    border-radius: 50%;
	    padding: 0;
	   
    }

}
