
<!DOCTYPE html>
{% load static %}


<html xmlns="http://www.w3.org/1999/html">
<head>


	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Antherus</title>

	

	<!-- Jquery CDN -->
	 <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

	<!-- Boostrap 4 CDN  -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


	<!-- FontAwesome CDN -->
	<script src="https://kit.fontawesome.com/a69cec9c91.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="fontawesome/css/all.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />



	<!-- CSS -->
	 <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-cadastro-lp.css' %}">


	<!-- Java Script -->
	 <script type="text/javascript" src="">
	 	
	 </script>


</head>

<!-- Corpo do HTML -->
<body >
	<!-- Container -->
	<div class="container ">

		<!-- Header da Pagina -->
		<header id="header">
			<!-- Imagem da Logo -->
			<img src="{% static 'img/logo-2.png' %}" id="img-logo" class="img img-fluid">
		</header>

		<!-- Area do Dashboard -->
		<div class="p-2">
			<div>
				<div class="btn btn-danger" id="btbn-voltar">Voltar</div>
				<script type="text/javascript">
					$('#btbn-voltar').click(function(){
						window.location.href = "http://127.0.0.1:8000/accounts/login/gerenciador-lp/";
					})
				</script>
			</div>
			<!-- Conteudo e dados da landing page -->
			<div id="conteudo" class="">


				<h4 class="text-center p-2">LANDING PAGE<br>{{empreendimento_relacionado.nome_empreendimento|upper}}</h4>
				<div class="text-center p-2">
					<a href="{% url 'landingpage' slug=empreendimento_relacionado.slug %}" target="_blank">www.realizeseuimovel/{{empreendimento_relacionado.slug|lower}}</a>

				</div>
				<div class="div-info-lp">
			 		<div id="info-lp">
			 			<!-- CAMPO NOME EMPREENDIMENTO -->
			 			<div id="campo-nome-empreendimento" class="p-2">
			        		<label for="nome-empreendimento" class="btn-warning rounded p-2 label">Nome Empreendimento</label>
			        		<input type="text"  id="nome-empreendimento" name="nome-empreendimento" class="form-control" disabled value="{{empreendimento_relacionado.nome_empreendimento|upper}}">
			        		<span class=""><i class="fa fa-pencil-square p-1 editar-empreendimento btn" id="editar-empreendimento" aria-hidden="true"></i></span>
			        	</div>

			        	<!-- CAMPO LOCALIZACAO EMPREENDIMENTO -->
			        	<div id="campo-localizacao-empreendimento" class="p-2 m-1">
			        		<label for="localizacao-empreendimento" class="btn-warning rounded p-2 label">Localização Empreendimento</label>
							<textarea  name="localizacao-empreendimento" id="localizacao-empreendimento" class="form-control" disabled >{{empreendimento_relacionado.localizacao|upper}}</textarea>
			        		<span class=""><i class="fa fa-pencil-square p-1 editar-localizacao btn" id="editar-localizacao" aria-hidden="true"></i></span>
			        		
			        	</div>

			        	<!-- CAMPO TAG META -->
			        	<div id="campo-tag-meta" class="p-2 m-1">
			        		<label for="tag-meta" class="btn-warning rounded p-2 label">Tag Meta</label>
			        		<textarea  name="tag-meta" id="tag-meta" class="form-control" disabled value="{{nome_empreendimento.tag_meta|upper}}" ></textarea>
			        		<span class=""><i class="fa fa-pencil-square p-1 editar-tag-meta btn" id="editar-tag-meta" aria-hidden="true"></i></span>
			        		
			        	</div>

			        	<!-- CAMPO TAG GOOGLE -->
			        	<div id="campo-tag-google" class="p-2 m-1">
			        		<label for="tag-google" class="btn-warning rounded p-2 label">Tag Google</label>
							<textarea  name="tag-google" id="tag-google" class="form-control" disabled value="{{nome_empreendimento.tag_google|upper}}"></textarea>
			        		<span class=""><i class="fa fa-pencil-square p-1 editar-tag-google btn" id="editar-tag-google" aria-hidden="true"></i></span>
			        		
			        	</div>
			        	<hr>
			        	<script type="text/javascript">

			        		$(document).on('click','#editar-empreendimento', function(){
			        			$('#nome-empreendimento').removeAttr('disabled');
			        			$(this).removeClass('fa-pencil-square');
			        			$(this).addClass('btn-danger');
			        			$(this).addClass('btn-sair-1');
			        			$(this).text('Salvar');
			        			$(this).css({'position':'relative','left':'93%','top':'0.5em','font-size':'1.5em'});
			        			///alert('alerta')


			        			




			        		})

			        		$(document).on('click','#editar-localizacao', function(){
			        			$('#localizacao-empreendimento').removeAttr('disabled');
			        			///alert('alerta')
			        			$(this).removeClass('fa-pencil-square');
			        			$(this).addClass('btn-danger');
			        			$(this).addClass('btn-sair-2');
			        			$(this).text('Salvar');
			        			$(this).css({'position':'relative','left':'93%','top':'0.5em','font-size':'1.5em'});
			        		})

			        		$(document).on('click','#editar-tag-meta', function(){
			        			$('#tag-meta').removeAttr('disabled');
			        			///alert('alerta')
			        			$(this).removeClass('fa-pencil-square');
			        			$(this).addClass('btn-danger');
			        			$(this).addClass('btn-sair-3');
			        			$(this).text('Salvar');
			        			$(this).css({'position':'relative','left':'93%','top':'0.5em','font-size':'1.5em'});
			        		})

			        		$(document).on('click','#editar-tag-google', function(){
			        			$('#tag-google').removeAttr('disabled');
			        			///alert('alerta')
			        			$(this).removeClass('fa-pencil-square');
			        			$(this).addClass('btn-danger');
			        			$(this).addClass('btn-sair-4');
			        			$(this).text('Salvar');
			        			$(this).css({'position':'relative','left':'93%','top':'0.5em','font-size':'1.5em'});
			        		})









			        		//Botao sair
			        		$(document).on('click','.btn-sair-1', function(){
			        				//alert('aslerta')
			        				$('#nome-empreendimento').prop('disabled',true);
			        				$(this).addClass('fa-pencil-square');
			        				$(this).removeClass('btn-danger');
			        				$(this).removeClass('btn-sair-1');
			        				$(this).text('');
			        				$(this).css({'position':'relative','left':'95%','top':'0em','font-size':'3em'});
			        			
			        		})

			        		$(document).on('click','.btn-sair-2', function(){
			        				//alert('aslerta')
			        				$('#localizacao-empreendimento').prop('disabled',true);
			        				$(this).addClass('fa-pencil-square');
			        				$(this).removeClass('btn-danger');
			        				$(this).removeClass('btn-sair-2');
			        				$(this).text('');
			        				$(this).css({'position':'relative','left':'95%','top':'0em','font-size':'3em'});
			        			
			        		})

			        		$(document).on('click','.btn-sair-3', function(){
			        				//alert('aslerta')
			        				$('#tag-meta').prop('disabled',true);
			        				$(this).addClass('fa-pencil-square');
			        				$(this).removeClass('btn-danger');
			        				$(this).removeClass('btn-sair-3');
			        				$(this).text('');
			        				$(this).css({'position':'relative','left':'95%','top':'0em','font-size':'3em'});
			        			
			        		})

			        		$(document).on('click','.btn-sair-4', function(){
			        				//alert('aslerta')
			        				$('#tag-google').prop('disabled',true);
			        				$(this).addClass('fa-pencil-square');
			        				$(this).removeClass('btn-danger');
			        				$(this).removeClass('btn-sair-4');
			        				$(this).text('');
			        				$(this).css({'position':'relative','left':'95%','top':'0em','font-size':'3em'});
			        			
			        		})
			        		






			        	</script>
			        	<!-- GALERIA DE IMAGENS -->
			        	<div id="" class=" border border-dark rounded  p-3 ">
			        		<h4 class="text-center p-4">GALERIA DA LADINGPAGE</h4>
			        		<!-- MOLDURAS COM IMAGENS -->


							<div class="card-group col-12 border border-dark ">
								{% for carousel_relacionado in carousel_relacionado %}
								  <div class="card col-12 bg-light text-center">
									<img class="img img-fluid " src="{{carousel_relacionado.imagens.url}}" alt="{{carousel_relacionado.imagens}}">

										<a href="" class="btn btn-danger m-3 p-3">Excluir</a>
										<a href="" class="btn btn-primary m-3 p-3">Editar</a>


								  </div>
								{% endfor %}

							</div>

			        		<!-- FINAL MODULRAS -->

			        		



			        		<!-- MODAL DELETAR IMAGEMS -->
			        		<div class="modal" tabindex="-1" role="dialog">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title">Modal title</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        <p>Modal body text goes here.</p>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-primary">Save changes</button>
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div>
							<!-- FINAL DO MODAL -->

			        	</div>
			        	<!-- FINAL GALERIA DE IMAGENS-->


			        	<!-- EXCLUIR TODA A LP -->
			        	<div id="remover-lp" class="text-center m-1 p-5">
			        		<div class="m-1 p-2"><input type="checkbox" value="remover"><p class="ml-1 d-inline">Marque para liberar remoção da Landing Page</p></div>
			        		
			        		<div id="btn-remover-lp" class="btn btn-danger rounded p-3">Remover Landing Page</div>
			        	</div>
			        	
			 		</div>
			 		<!-- FINAL INFO LP -->
				</div>
				<!-- FINAL DIV INFO LP -->
			
		</div>
		<!-- FINAL CONTEUDO -->





	<footer class="text-center " >
		<i class="fa fa-copyright" aria-hidden="true">Copyright</i>
		<div>Antherus - Desenvolvimento Web</div>
		<small><i class="fa fa-whatsapp mr-1" aria-hidden="true"></i><span>(16) 99337-9492</span></small>
	</footer>



	</div>
	<!-- FINAL CONTAINER -->







	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>