<!DOCTYPE html>
{% load static %}
  {% csrf_token %}
<html xmlns="http://www.w3.org/1999/html">
<head>




	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Antherus</title>

	<!-- CSS -->
	 <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">


	<!-- Jquery CDN -->
	 <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

	<!-- Boostrap 4 CDN  -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">




	<!-- FontAwesome CDN -->
	<script src="https://kit.fontawesome.com/a69cec9c91.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="fontawesome/css/all.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />



	<!-- CSS -->
	 <link rel="stylesheet" type="text/css" href="{% static 'css/config-estilo.css' %}">

</head>

<!-- Corpo do HTML -->
<body >
	<!-- Container -->
	<div class="container-fluid ">
			<!-- Header da Pagina -->
			<header id="header">
				<!-- Imagem da Logo -->
				<img src="{% static 'img/logo-2.png' %}" id="img-logo" class="img img-fluid">

				

			</header>


			<!-- Header do Dashboard -->
			<div id="header-dashboard" class="text-center">
					<!--DATA DO DIA DATA DO HEADER -->
					<div id="data-hora-header" ></div>
			</div>

			<!-- Formulario da Configuração -->
				<div id="area-config">

					<div id="" class="">
					
					
					<h5  class="mt-3 text-center">Antherus - Gerenciador de Leads</h5>
					<!-- PERFIL DO USUÁRIO -->
					<div class="text-center">
						<!-- NOME USER -->
						<div class=" my-3  text-center">
						{% for perfil in perfil %}
							<img  class="img img-fluid border border-dark rounded-circle "  src="{{perfil.img_perfil.url}}" alt="Foto Perfil Usuáriooo">
							<div  class=" text-center font-weight-bold text-center bg-white border  rounded" >{{perfil.user_vinculado}}</div>
						</div>
						{% endfor %}
						<!--Foto Perfil User -->
						{% for  perfil in perfil %}
							<form method="POST" ENCTYPE="multipart/form-data"  action="{% url 'editar_img_perfil' %}"  class="m-3 p-3" >
										{% csrf_token %}


										<div class="my-3 text-center">
											<div id="input-img-perfil" class="mb-5" hidden>
												<input type="file"  name="img_perfil_editar"   class="d-inline" >
											</div>

											<input type="text" name="user_vinculado_editar" value="{{request.user}}"  hidden>

										<!-- BTN ADD/EDITAR DA IMG PERFIL -->

											<input type="button" class="btn btn-outline-primary mx-3 "  id="btn-editar-img-perfil" value="Trocar Foto Perfil">

											<input type="submit" class="btn btn-outline-primary mx-3" hidden id="btn-salvar-img-perfil" value="Salvar">
											<script>
												$(document).on('click','#btn-editar-img-perfil',function(){
													$('#input-img-perfil').removeAttr('hidden');
													$('#btn-salvar-img-perfil').removeAttr('hidden');
													$('#btn-salvar-img-perfil').css({'position':'relative','top':'-2em'});
													$(this).val('Sair');
													$(this).css({'position':'relative','top':'-2em'});
													$(this).removeClass('btn-outline-primary').addClass('btn-outline-danger fechar-editar-img-perfil');


												});
												$(document).on('click','.fechar-editar-img-perfil',function(){
													window.location.reload();

												});
											</script>
										</div>
								
							</form>
						{%empty%}
							<form method="POST" ENCTYPE="multipart/form-data" action="{% url 'add_img_perfil' %}" class="m-3 p-3" >
									{% csrf_token %}



										<div class="my-3 text-center">

											<input type="file"  name="img_perfil_add" id="upload-img-2" class="d-inline">
											<input type="text" name="user_vinculado" value="{{request.user}}" hidden>
										</div>
										<!-- BTN ADD/EDITAR DA IMG PERFIL -->
										<div>
											<input type="submit" class="btn btn-outline-primary" value="Add">
										</div>

							</form>
						{% endfor %}
							



							<!-- TAG META TAG PIXEL  -->

							<form class=" my-3 ml-2  text-center" method="POST" >
								{% csrf_token %}
								<script type="text/javascript">
										$(document).on('click','#editar-tag-meta', function(){

												$('#textarea-tag-pixel').removeAttr('disabled');
												$('#textarea-tag-pixel').css({'height':'500'});
												$('#editar-tag-meta').html('Sair');
												// addclass no editar-tag-meta para usar no botao Sair
												$('#editar-tag-meta').addClass('sair-tag-meta');



												$(document).on('click','#textarea-tag-pixel', function(){
													$('#editar-tag-meta').addClass('abre-tag-pixel');
												   	$('.abre-tag-pixel').html('Salvar');


												   	$(document).on('click','.abre-tag-pixel',function(){
												   		$('#textarea-tag-pixel').css({'height':'initial'});
												   		$('.abre-tag-pixel').html('Editar');



												   	});

												});

										})

										$(document).on('click','.sair-tag-meta', function(){
											alert('agira')
											$('#textarea-tag-pixel').css({'height':'initial'});
											$('.sair-tag-meta').removeClass('sair-tag-meta');
											$('#editar-tag-meta').html('Editar');

											var tagmeta = $('#textarea-tag-pixel').val();
											alert(tagmeta)
											var formData = new FormData();
											alert(formData)
											formData.append('textarea-tag-pixel',tagmeta);


											var request = new XMLHttpRequest();
											alert(request)

											 request.open('POST','http://127.0.0.1:8000/add_meta_tag/',false)

											 const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

											 request.setRequestHeader('X-CSRFToken', csrftoken)
											 request.send(formData)
											 window.location.reload();


										});

								</script>

								<label class="bg-primary p-2 px-2 rounded text-white label-2 text-center">Tag Meta</label>
								{% for meta_tag in meta_tag %}
								<textarea  disabled id="textarea-tag-pixel" name="textarea-tag-pixel" class="form-control  mt-3 text-dark p-3"  >{{meta_tag.tag_meta}}</textarea>
								{%endfor %}
								<div class="fa fa-pencil-square-o  btn btn-outline-primary  " id="editar-tag-meta" aria-hidden="true">Editar</div>

							
							</form>



							<!-- TAG GOOGLE ANALITYCS-->
							<form class=" my-3 ml-2  text-center" method="POST" >
								<script type="text/javascript">
										$(document).on('click','#editar-tag-google', function(){

												$('#textarea-tag-google').removeAttr('disabled');
												$('#textarea-tag-google').css({'height':'500'});
												$('#editar-tag-google').html('Sair');
												// addclass no editar-tag-meta para usar no botao Sair
												$('#editar-tag-google').addClass('sair-tag-google');



												$(document).on('click','#textarea-tag-google', function(){
													$('#editar-tag-google').addClass('abre-tag-google');
												   	$('.abre-tag-google').html('Salvar');


												   	$(document).on('click','.abre-tag-google',function(){
												   		$('#textarea-tag-google').css({'height':'initial'});
												   		$('.abre-tag-google').html('Editar');



												   	});

												});

										})

										$(document).on('click','.sair-tag-google', function(){
											alert('agora')
											$('#textarea-tag-google').css({'height':'initial'});
											$('.sair-tag-google').removeClass('sair-tag-meta');
											$('#editar-tag-google').html('Editar');

											var tag_google = $('#textarea-tag-google').val();
											alert(tag_google)
											var formData = new FormData();
											alert(formData)
											formData.append('textarea-tag-google',tag_google);


											var request = new XMLHttpRequest();
											alert(request)

											 request.open('POST','http://127.0.0.1:8000/add_tag_google/',false)

											 const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

											 request.setRequestHeader('X-CSRFToken', csrftoken)
											 request.send(formData)
											 window.location.reload();


										});
								</script>

								<label  class="bg-primary p-2 px-2 rounded text-white label-3 text-center">Tag Google Analytics</label>
								{% for tag_google in tag_google %}
								<textarea  disabled id="textarea-tag-google" class="form-control  mt-3 text-dark p-3">{{tag_google.tag_google}}</textarea>
								{% endfor %}
								<i class="fa fa-pencil-square-o  btn btn-outline-primary  " id="editar-tag-google" aria-hidden="true">Editar</i>


								
							</form>
							
						
							
							
							
						
					</div>



				</div>
				<!-- FINAL AREA CONFIGURACAO -->
			

		



			<!-- FOOTER -->
		<footer >
			<i class="fa fa-copyright text-center" aria-hidden="true">Copyright</i>
			<div>Antherus - Desenvolvimento Web</div>
			<small><i class="fa fa-whatsapp mr-1" aria-hidden="true"></i><span>(16) 99337-9492</span></small>
		</footer>



	</div>
	<!-- FINAL CONTAINER -->

	

	




	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>