<!DOCTYPE html>

{% load static %}
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if perfil_user %}
		<title>{{perfil_user}}</title>
	{% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <!-- Fontawesome CSS -->
    <script src="https://kit.fontawesome.com/a69cec9c91.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />


     <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-dashboard-lp.css' %}">




</head>
<body>

<div class=" container-fluid w-100" id="container-principal">
    

   <header id="header" class="  row p-3 bg-white">
        
        <!-- Imagem da Logo -->
       <div class="">
			{% if perfil_user %}
			<img src="{{perfil_user.img_perfil.url}}" style="max-height:3em;" class="  rounded img img-fluid">
			{% endif %}
       </div>

        <!-- USER LOGADO -->
        <span id="user" class="col-8 p-3" >
            <span class="bg-warning ml-1 p-1 rounded" id="label-user">User</span>
            <!-- Passa o usuário logado no sistema -->
            <span class="px-1" id="user-logado">{% if user.is_authenticated %} {{ user.get_username }}{% endif %}</span>

        </span>



          
          <!-- SUPORTE TÉCNICO-->
          <a href="https://wa.me/5516993379492?text=suporte"  target="_blank" id="icone-suporte" class="btn btn-warning text-center col-3">
               Suporte Técnico
          </a>



    </header>

    


   



    <!-- Formulário Imovéis -->
    <form enctype="multipart/form-data" method="POST" id="formulario" class=" rounded p-5 m-5 form  " >

        {% csrf_token %}
        <div class=" p-0 m-0">
            <h3 class="  text-center text-nowrap" id="header-formulario">Formulário<span class="px-2 " id="variavel-header-form"></span></h3>
            <hr class="mx-0 mt-0 mb-1 p-0">
        </div>

         <!-- CHECKBOX STATUS DO IMÓVEL -->
         <h6 id="label-escolha-status-imoveis" class=" bg-warning p-2 etiqueta  rounded col-2 text-center font-weight-bold" style="z-index:3;">Escolha Status Imóvel *</h6>

        <div id="escolha-status-imoveis" class="row p-3">
            

            <div id="div-opcoes-status" class="p-2  border border-dark col-3 rounded m-1">
                <small class=" m-3">Escolha umas das opções a seguir:</small>
                <div class="m-3">
                    <label  for="status-padrao" class=" bg-warning px-3 py-1 rounded">Padrão</label>
                    <input type="checkbox" id="status-padrao"  class="check-status-imovel"   name="status_padrao_imovel" value="Padrão">
                    
                </div>

                <div class="m-3">
                    <label  for="status-minha-casa-minha-vida" class=" bg-warning px-3 py-1 rounded">Minha Casa Minha Vida</label>
                    <input type="checkbox" id="status-minha-casa-minha-vida" class="check-status-imovel" name="status_padrao_imovel" value="Minha Casa Minha Vida">
                    
                </div>

                <div class="m-3">
                    <label  for="status-premium" class=" bg-warning px-3 py-1 rounded">Premium</label>
                    <input type="checkbox" id="status-premium"  name="status_padrao_imovel" class="check-status-imovel" value="Premium">
                    
                </div>
                <script>
                      // Adiciona um event listener a cada checkbox
                      const checkboxes = document.querySelectorAll('.check-status-imovel');
                      checkboxes.forEach(checkbox => {
                        checkbox.addEventListener('click', () => {
                            alert('marcou')
                          // Desmarca todos os checkboxes
                          checkboxes.forEach(cb => {
                            cb.checked = false;
                          });
                          // Marca apenas o checkbox atual
                          checkbox.checked = true;
                        });
                      });   
                </script>
                
            </div>

            <!-- STATUS DE DISPONIBILIDADE -->



            <div id="div-opcoes-status-disponibilidade" class="p-2  border border-dark col-3 rounded m-1">
                <small class=" m-3">Escolha umas das opções a seguir:</small>
                <div class="m-3">
                    <label  for="status-planta" class=" bg-warning px-3 py-1 rounded">Planta</label>
                    <input type="checkbox" id="status-planta"  class="check-status-disponibilidade"   name="status_disponibilidade" value="Na Planta">
                    
                </div>

                <div class="m-3">
                    <label  for="status-em-obras" class=" bg-warning px-3 py-1 rounded">Em obras</label>
                    <input type="checkbox" id="status-em-obras" class="check-status-disponibilidade" name="status_disponibilidade" value="Em Obras">
                    
                </div>

                <div class="m-3">
                    <label  for="status-pronto-morar" class=" bg-warning px-3 py-1 rounded">Pronto para Morar</label>
                    <input type="checkbox" id="status-pronto-morar"  name="status_disponibilidade" class="check-status-disponibilidade" value="Pronto para Morar">
                    
                </div>

                <div class="m-3">
                    <label  for="status-disponivel" class=" bg-warning px-3 py-1 rounded">Disponível</label>
                    <input type="checkbox" id="status-disponivel"  name="status_disponibilidade" class="check-status-disponibilidade" value="Disponível (Desocupada ou Vaga)">
                    
                </div>

            <!-- Script JavaScript para permitir apenas uma seleção -->
            <script>
                const checkboxes2 = document.querySelectorAll('.check-status-disponibilidade');
                
                checkboxes2.forEach(checkbox => {
                    checkbox.addEventListener('change', function() {
                        checkboxes2.forEach(otherCheckbox => { // Use o mesmo nome de variável aqui (otherCheckbox)
                            if (otherCheckbox !== checkbox) {
                                otherCheckbox.checked = false;
                            }
                        });
                    });
                });
            </script>

            </div>


             <!-- Field Select do Tipo do Anuncio -->
            <div  id="escolha-tipo-field"  class="p-2  border border-dark col-3 rounded m-1">
                <label id="escolha-tipo-imovel" class=" bg-warning p-2  rounded  etiqueta">Escolha tipo Imóvel *</label>

                <select name="tipo_imovel" id="tipo-veiculo" class="form-control  " >
                    <option value="">Escolha Tipo do Imóvel</option>
                    <option value="CASA" >CASA</option>
                    <option value="APARTAMENTO">APARTAMENTO</option>
                </select>



            </div>

    
        </div>






         <!--CAMPO DO CONSTRUTORA-->
        <div id="campo-nome-construtora" class="p-2 m-3">
            <label for="nome-construtora" class="bg-warning p-2 rounded col-3 text-center font-weight-bold etiqueta">Nome Construtora</label>
            <input type="text" id="nome-construtora" name="nome_construtora" class="form-control col-6 ">

        </div>

        <!--CAMPO NOME DO EMPREENDIMENTO -->
        <div id="campo-nome-empreendimento" class="p-2 m-3">
            <label for="nome-empreendimento" class="bg-warning p-2 rounded col-3 text-center font-weight-bold etiqueta">Nome Empreendimento</label>
            <input type="text" id="nome-empreendimento" name="nome_empreendimento" class="form-control col-6 ">

        </div>

        <!--CAMPO DO ENDEREÇO -->
        <div id="campo-endereco-empreendimento" class="p-2 m-3">
            <label for="endereco-empreendimento" class="bg-warning p-2 rounded col-3 text-center font-weight-bold etiqueta">Endereço Empreendimento</label>
            <textarea  id="endereco-empreendimento" name="endereco_empreendimento" class="form-control col-6 "></textarea>

        </div>

         <!--CAMPO ÀREA CONSTRUÍDA -->
        <div id="campo-area-construida" class="p-2 m-3">
            <label for="area-construida" class="bg-warning p-2 rounded col- text-center font-weight-bold etiqueta">Àrea Construída M²</label>
            <input type="text" id="area-construida" name="area_construida" class="form-control col-2 ">

        </div>

        <div class="row">
        <!-- CAMPO NUMERO DE QUARTOS -->
        <div class="col-4">
            <div id="campo-numero-quartos" class="p-2 m-3">
                <label for="qtde-quartos" class="bg-warning p-2 rounded col- text-center font-weight-bold etiqueta">Quantidade de Quartos</label>
                <select name="qtde_quartos" id="qtde-quartos" class="form-control">
                     <option value="">Escolha Qtde Quartos</option>
                     {% for qtde_quartos in qtde_quartos %}
                         <option value="{{qtde_quartos.qtde_quartos}}">{{qtde_quartos.qtde_quartos}}</option>
                     {% endfor %}
                </select>
            </div>
        </div>

        <!-- CAMPO NUMERO DE SUÍTES -->
        <div class="col-4">
            <div id="campo-numero-suites" class="p-2 m-3">
                <label for="qtde-suites" class="bg-warning p-2 rounded col- text-center font-weight-bold etiqueta">Quantidade de Suítes</label>
                <select name="qtde_suites" id="qtde-suites" class="form-control">
                    <!-- Opções aqui -->
                    <option value="">Escolha Qtde Suítes</option>
                     {% for qtde_suites in qtde_suites %}
                         <option value="{{qtde_suites.qtde_suites}}">{{qtde_suites.qtde_suites}}</option>
                     {% endfor %}
                </select>
            </div>
        </div>

        <!-- CAMPO NUMERO DE SUÍTES -->
        <div class="col-4">
            <div id="campo-numero-vaga-garagem" class="p-2 m-3">
                <label for="qtde-vaga-garagem" class="bg-warning p-2 rounded col- text-center font-weight-bold etiqueta">Quantidade de Vagas Garagem</label>
                <select name="qtde_vaga_garagem" id="qtde-vaga-garagem" class="form-control">
                    <!-- Opções aqui -->
                    <option value="">Escolha Qtde Vagas Garagem</option>
                     {% for qtde_vagas_garagem in qtde_vagas_garagem %}
                         <option value="{{qtde_vagas_garagem.qtde_vagas_garagem}}">{{qtde_vagas_garagem.qtde_vagas_garagem}}</option>
                     {% endfor %}
                </select>
            </div>
        </div>
    </div>
       

         <div id="itens-opcionais" class="p-2 m-3">
                <div>
                    <label class="bg-warning p-2 border rounded  etiqueta" id="header-itens-opcionais">Itens Opcionais</label>
                </div>
                <!--Scoll -->
                <div id="scroll-itens-opcionais" class="rounded p-2">
                <!-- CHECK BOX OPCIONAIS VEÍCULOS----------------------------- -->


                <!-- CKECK BOX ITENS OPCIONAIS -->
                    {% for item in itens %}
                 <div class=" p-1" id="check-item-nome-{{item.nome_item}} ">
                     <input type="checkbox" id="item-nome-{{item.nome_item}}" class="item-nome-{{item.id}} itens-opcionais " name="item" value="{{item.nome_item}}">
                     <label for="item-nome-{{item.nome_item}}" class="">{{item.nome_item}}</label>
                 </div>
                 {% endfor %}


        </div>


                    <script type="text/javascript">



                        // Inicia um array vazio
                        var lista = new Array();
                        var inputs = new Array();
                        i = 0

                       

                        //evento clicar no
                         $(document).on('click', '.itens-opcionais', function(){
                                checado = $(this).prop('checked');



                                if(checado == true ){
                                    item = $(this).val()
                                    lista.push('<i class="fa fa-check-circle ml-1 check-cor-verde" aria-hidden="true">'+item+'<input  name="item_opcionais" value="'+item+'"></i>')
                                    $('#lista').html(lista)
                                    alert(lista)

                                }

                                if(checado == false){
                                    item = $(this).val();
                                    var itemProcurado = '<i class="fa fa-check-circle ml-1 check-cor-verde" aria-hidden="true">'+item+'<input  name="item_opcionais" value="'+item+'"></i>'
                                    alert(itemProcurado)
                                    var indice = lista.indexOf(itemProcurado);
                                   if (indice !== -1) {
                                      lista.splice(indice, 1);
                                      $('#lista').html(lista)
                                   }


                                }

                                if(lista.length == 0){
                                    $('#lista').html('Não há item opcional cadastrado!!');
                                }

                                if(lista.length == 1){
                                    $('#display-itens-opcionais').show();
                                }


                                // script para limitar a inclusão de mais de 10 itens, pq o Bd téra espaço para 10 itens


                            });

                             {% for item in itens %}

                                $(document).on('click', '.item-nome-{{item.id}} input', function(){
                                   alert('alerta')
                                });
                             {% endfor %}




                    </script>


                    <!-- Display do itens opcionais -->
                    <span id="display-itens-opcionais" class="p-1">
                        <div>
                            <label class="bg-warning p-2 border rounded  etiqueta">Lista Opcionais</label>
                        </div>

                        <div id="scroll-itens" class="bg-white rounded">
                            <span id="lista"  class=""></span>
                        </div>

                    </span>



                    <!-- Caixa de texto informações completamentares -->
                    <div class="px-1 mt-1" id="div-info-complementares">
                        <label for="info-complementar" class="bg-warning p-2 border rounded  etiqueta">Informações Complementares</label>
                        <textarea  name="info_complementares" id="info-complementar"  rows="3" wrap="hard"  class="border border-dark rounded p-2 col-12" ></textarea>
                    </div>



                    <div id="advertencias">
                        <div class="m-1"><small>* Campos  obrigatórios</small></div>
                        <p>* As informações cadastradas são de responsabilidade do anunciante.</p>
                        <p>* Caso não encontre dificuldade ao cadastrar imovél,entre em contato com suporte o técnico.</p>
                    </div>

    
        
    </div>
<!-- FINAL CONTAINER -->


            <!-- BTN SALVAR -->
            <button type="submit"  class="btn btn-warning m-5" id="salvar" >Próximo Passo - Adicionar Fotos</button>

         </form>

        

</div>

<!-- RODAPÉ -->
        <footer class="text-center " >
            <i class="fa fa-copyright" aria-hidden="true">Copyright</i>
            <div>Antherus - Desenvolvimento Web</div>
            <small><i class="fa fa-whatsapp mr-1" aria-hidden="true"></i><span>(16) 99337-9492</span></small>
        </footer>







<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>