
<!DOCTYPE html>
{% load static %}

<html>
<head>


	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Realize</title>




	<!-- Jquery CDN -->
	 <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

	<!-- Boostrap 4 CDN  -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<script src="https://cdn.jsdelivr.net/npm/geodesy@1.1.3/latlon-ellipsoidal.js"></script>





	<!-- FontAwesome CDN -->
	<script src="https://kit.fontawesome.com/a69cec9c91.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="fontawesome/css/all.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />


	<style>

		#header{
			background-image:url("{% static 'img/fundo-header.png' %}");

		}



	    #map {
	      height: 650px;
	      width: 100%;
	    }

	    #display-imoveis{
	    	display: none;
	    }

	    .custom-marker {
			  background-color: #00FF00; /* Cor de fundo desejada */
			  padding: 2px; /* Espaçamento interno desejado */
			  border-radius: 10%; /* Arredondamento desejado */
			  -webkit-box-shadow: 0px 13px 23px -6px rgba(0,0,0,1);
			  -moz-box-shadow: 0px 13px 23px -6px rgba(0,0,0,1);
			  box-shadow: 0px 13px 23px -6px rgba(0,0,0,1);
			  position:relative;
			  top:2em;
			  z-index:1;
			  border:1px solid black;


		}

		.bg-red{
			background:#bf0a0d;
		}

		.card:hover{
			transform: scale(1.01);
			-webkit-box-shadow: 2px 13px 7px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 13px 7px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 13px 7px 0px rgba(0,0,0,0.75);

		}

	.text-small{
        font-size:0.7em;
        bold:900;
    }


    #insta {
	        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 0%, #fd5949 20%, #d6249f 60%, #285AEB 90%);
	        -webkit-background-clip: text;
	        /* Also define standard property for compatibility */
	        background-clip: text;
	        -webkit-text-fill-color: transparent;
	    }

      #logos-redes-sociais{
      	font-size: 2em;
      }

      .btn-redes-sociais:hover{
      	transform: scale(1.5);
      	text-decoration: none;
      }

      #rodape-propriedade{
      	background:#fd1716;
      	font-weight:900;
      	color:white;
      }

      .bg-dark-customizer{
      	background:#020202;
      }




    </style>




	<!-- CSS -->
	 <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-index.css' %}">


	<!-- Java Script -->
	 <script type="text/javascript" src="scripts.js"></script>



	<script type="text/javascript">

		$( document ).ready(function() {
			{% for listagem in listagem %}
			$(document).on('click','.card-{{listagem.id}}',function(){
				window.location.href = 'http://127.0.0.1:8000/{{listagem.slug}}/'
			});
			{% endfor %}

		});


	</script>






</head>

<!-- Corpo do HTML -->
<body lang="pt-br" >




	<!-- Container -->
	<div class=" container container-fluid ">


		<!-- Header da Pagina -->
		<header id="header" class="  row ">
			<div>
					<span id="logo" class="col-9">
					<!-- Imagem da Logo -->
					<img src="{% static 'img/logo-marca.png' %}" id="img-logo"  alt="Realize Seu Imóvel">

					</span>

				<!-- LOGO REDES SOCIAIS -->
				<span id="logos-redes-sociais" class="col-3">
						<a href="https://www.facebook.com/Drieli.Cosultora" class="fa fa-facebook-official mx-1 p-3 btn btn-redes-sociais " aria-hidden="true" style="color:#3b5998;"><a href="https://www.facebook.com/Drieli.Cosultora"></a>
						<a href="https://www.instagram.com/realize_seu_imovel/" class="fa fa-instagram mx-1 p-3 btn  btn-redes-sociais" id="insta" aria-hidden="true"></a>

				</span>

			</div>


				<!-- DISPLAY DE BUSCA -->
			<div id="display-busca" class=" col-12  rounded mt-1">

				<!-- OPÇÃO DE BUSCA -->
				<div id="opcao-busca" class="p-2">
					<!-- BTN BUSCA POR MAPA -->
					<a href="http://127.0.0.1:8000/" id="btn-busca-mapa" class="btn btn-warning active" >Busca Mapa</a>
					<!-- BTN BUSCA POR MAPA -->
					<a href="/pesquisa-display/" id="btn-busca-display" class="btn btn-warning">Busca Display</a>
					<script type="text/javascript">
						$('#btn-busca-mapa').click(function(){
							$('#mapa-pesquisa').show();
							$('#display-imoveis').hide();
						});


						$('#btn-busca-display').click(function(){
							$('#mapa-pesquisa').hide();
							$('#display-imoveis').show();

						});


					</script>
				</div>

		</header>





			<!--BARRA DE PESQUISA -->
		<div id="pesquisa" class="px-4 pb-1 " >

				<form method="GET"  id="form-pesquisa"  class=" text-center form-inline m-0 p-0 ">



					<!--INPUT DA BARRA DE PESQUISA -->
					<input type="text" name="barra-pesquisa" id="barra-pesquisa" class="form-control  mr-1 col-9" placeholder="Pesquisar" value="" >


					<i class="fa fa-times-circle-o  btn    p-0 mr-3 " id="apagar-pesquisa" aria-hidden="true" style="font-size: 1.5em;"></i>
					<!--BTN PESQUISAR -->
					<button type="submit" id="btn-pesquisar" class=" btn btn-primary  ">
						<i class="fa fa-search"></i>
					</button>
					<div class="d-block col-10 border border-primary rounded">
						<div id="sugestoes-localidades" class="text-left "></div>
					</div>




					<script>



						$('#barra-pesquisa').focusin(function(){
							$(this).css({'min-width': '110%'});
							$('.fa-times-circle-o').hide();
							$('#btn-pesquisar').hide();

							setTimeout(() => {
							  	$(this).css({'min-width': '80%'});
								$('.fa-times-circle-o').show();
								$('#btn-pesquisar').show();
							}, "3000");




						});

						$('#barra-pesquisa').focusout(function(){
							$(this).css({'min-width': '80%'});
							$('.fa-times-circle-o').show();
							$('#btn-pesquisar').show();
						});


						$('#barra-pesquisa').keydown(function(){


							$(this).css({'min-width': '110%'});
							$('.fa-times-circle-o').hide();
							$('#btn-pesquisar').hide();



						});






























						$(document).on('click','#apagar-pesquisa', function(){
							//$('#barra-pesquisa').val('');
							location.href = 'http://127.0.0.1:8000/';
						});





					</script>


				</form>



		</div>


			<!-- MAPA PESQUISA -->
			<div id="mapa-pesquisa">
				<h4 class="text-center p-2">Pesquise no mapa o seu imóvel ideal</h4>
			  	<div id="map" class="rounded"></div>


			</div>
				<hr>








		<!-- CARROUSSEL -->


			<div id="carousel-display" class="carousel slide mt-4 " data-ride="carousel" data-interval="10000" data-pause="hover">
				<div class="text-center  p-2"><h5 class=" font-weight-bold ">Recomendações</h5></div>

				<div class="carousel-inner ">

					<div class="carousel-item active btn col-12">
						<div class="card-deck   ">

							{% for  carossel_display in  carossel_display %}
							<span class=" card  col-lg-4 col-12 border border-dark btn ">
								<div class="card-{{carossel_display.id}}">
									  <div class="bg-red rounded p-1 my-1 font-weight-bold text-white">{{carossel_display.tipo_imovel}}</div>
									  <div class="bg-red rounded p-1 my-1 font-weight-bold text-white">{{carossel_display.status_imovel}}</div>
									  <div class="bg-red rounded p-1 my-1 font-weight-bold text-white">{{carossel_display.padrao_imovel}}</div>
								</div>
								<img class="img img-fluid img-caroussel"  style="max-height:300px; min-height:" src="{{carossel_display.imagem_1.url}}" alt="img">

								<div class="text-center p-1 card-body card-{{carossel_display.id}}">
									<h6>{{carossel_display.nome_empreendimento|upper}}</h6>
									<div id="itens-carroussel-display">
										{% if carossel_display.item_1 %}
										<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small"><i class="item-destacado">{{carossel_display.item_1|upper}}</i></small>


									   {% endif %}

									  {% if carossel_display.item_2 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_2|upper}}</small>
									  {% endif %}

									  {% if carossel_display.item_3 %}
											<small class="bg-warning p-1 m-1  rounded font-weight-bold d-block text-small">{{carossel_display.item_3|upper}}</small>
									   {% endif %}

									  {% if carossel_display.item_4 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_4|upper}}</small>
									   {% endif %}

									  {% if carossel_display.item_5 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_5|upper}}</small>
									   {% endif %}

									  {% if carossel_display.item_6 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_6|upper}}</small>
									   {% endif %}

									  {% if carossel_display.item_7 %}
											<small class="bg-warning p-1 m-1  rounded font-weight-bold d-block text-small">{{carossel_display.item_7|upper}}</small>
									   {% endif %}


								</div>

								</div>


							</span>
							{% endfor %}
						</div>
						<!-- fecha o deck-->


					</div>


					<div class="carousel-item  btn col-12">
						<div class="card-deck   ">

							{% for  carossel_display in  carossel_display %}
							<span class=" card col-lg-4 col-12 border border-dark  ">
								<img class="img img-fluid img-caroussel"  style="max-height:300px; min-height:" src="{{carossel_display.imagem_1.url}}" alt="img">

								<div class="text-center p-1">
									<h6>{{carossel_display.nome_empreendimento|upper}}</h6>
									<div id="itens-carroussel-display-2">
										{% if carossel_display.item_1 %}
							  				<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_1}}</small>
									   {% endif %}

									  {% if carossel_display.item_2 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_2}}</small>
									  {% endif %}

									  {% if carossel_display.item_3 %}
											<small class="bg-warning p-1 m-1  rounded font-weight-bold d-block text-small">{{carossel_display.item_3}}</small>
									   {% endif %}

									  {% if carossel_display.item_4 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_4}}</small>
									   {% endif %}

									  {% if carossel_display.item_5 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_5}}</small>
									   {% endif %}

									  {% if carossel_display.item_6 %}
											<small class="bg-warning p-1 m-1 rounded font-weight-bold d-block text-small">{{carossel_display.item_6}}</small>
									   {% endif %}

									  {% if carossel_display.item_7 %}
											<small class="bg-warning p-1 m-1  rounded font-weight-bold d-block text-small">{{carossel_display.item_7}}</small>
									   {% endif %}


								</div>

								</div>
								<script>

								</script>

							</span>
							{% endfor %}
						</div>
						<!-- fecha o deck-->


					</div>

				</div>
				<a class="carousel-control-prev" href="#carousel-display" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon p-5" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel-display" role="button" data-slide="next">
					<span class="carousel-control-next-icon  p-5 " aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
	</div>


















	</div>
	<!-- FINAL CONTAINER -->
	<!-- SOBRE NÓS -->
		<div id="sobre" class="p-3 mt-5 text-center font-weight-bold">
			<h4 class="p-1">Sobre a Realize Seu Imóvel</h4>
			<p>Sabemos o quanto encontrar o imóvel perfeito pode parecer uma tarefa desafiadora. É por isso que estamos aqui para simplificar esse processo e transformar seu sonho em realidade.

			Nossa plataforma imobiliária está pronta para ajudá-lo(a) em todas as etapas do caminho. Vamos transformar  suas necessidades, desejos e preferências, e apresentar o imóvel ideal que atenda a todos os seus critérios.

			Não importa que esteja procurando uma casa espaçosa para sua família, um apartamento aconchegante no coração da cidade ou uma propriedade de luxo para investimento, estamos preparados para encontrar as melhores opções disponíveis.
			</p>
		</div>

	<!-- BTN WHATSAPP FLUTUANTE -->
		<div id="whatsapp-flutuante"  >
			<a href="https://wa.me/5516993379492?text=Acabei%20de%20%20ver%20a%20promoção%20Landing%20Page%20por%20R$%20299,90"  class="btn fa fa-whatsapp" id="btn-whatsapp-flutuante"></a>

		</div>







	<script>
	 var map;
	 var autocomplete;
	  function initMap() {
	  	  map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: -21.7790843, lng: -48.1792643 },
			zoom: 12.8
		  });












		  {% for listagem in listagem %}

		     var address = '{{listagem.localizacao}}';


		     var geocoder = new google.maps.Geocoder();
		     geocoder.geocode({ address: address }, function(results, status) {

		     	if (status === google.maps.GeocoderStatus.OK) {
		     		var latitude = results[0].geometry.location.lat();
          			var longitude = results[0].geometry.location.lng();

          			var icon = {
						url: '{{listagem.logomarca_icone.url}}',
						scaledSize: new google.maps.Size(30, 30),

					  };

				  var label = {
						color: '#292b2c',
						fontWeight: '900',
						fontSize: '12px',
						text: '{{listagem.nome_empreendimento|upper}}',
						className: 'custom-marker btn',

				  }



				  var url = 'http://127.0.0.1:8000/{{listagem.slug}}/'


          			 // Adicione um marcador no local
					  var marker = new google.maps.Marker({
						position: { lat: latitude, lng: longitude },
						map: map,
						title: 'Clique para mais informações.',
						icon:icon,
						label: label,
						zIndex: 1

					  });

						// Monitorar o evento de mouseover (quando o mouse entra no marcador)
						google.maps.event.addListener(marker, 'mouseover', function() {
						  marker.setZIndex(1000); // Definir um z-index maior ao passar o mouse sobre o marcador
						  $('.custom-marker').setZIndex(1000);
						});

						// Monitorar o evento de mouseout (quando o mouse sai do marcador)
						google.maps.event.addListener(marker, 'mouseout', function() {
						  marker.setZIndex(1); // Restaurar o z-index original quando o mouse sai do marcador
						  $('.custom-marker').setZIndex(0);
						});

						// Monitorar o evento de click (quando o mouse sai do marcador)
						google.maps.event.addListener(marker, 'click', function() {
						   window.open(url,'_blank');
						});










		     	}else{
		     		var latitude = results[0].geometry.location.lat();
          			var longitude = results[0].geometry.location.lng();
          			alert(latitude)

		     	}




		     });



		  {% endfor %}






	  }

	  function geocodeAddress() {
		  var address = $('#barra-pesquisa').val();
		  var geocoder = new google.maps.Geocoder();
		  geocoder.geocode({ address: address }, function(results, status) {
		  //alert(results[0].geometry.location.lat())
			if (status === google.maps.GeocoderStatus.OK) {
			  var latitude = results[0].geometry.location.lat();
			  var longitude = results[0].geometry.location.lng();

			    // Criar objetos LatLon para ambas as localizações
				const araraquaraCoords = new LatLon(-21.7842, -48.1788);
				const otherCoords = new LatLon(latitude, longitude);

				// Calcular a distância entre as coordenadas em quilômetros
				const distanceInKilometers = araraquaraCoords.distanceTo(otherCoords);

				alert(`A distância até Araraquara é de aproximadamente ${distanceInKilometers.toFixed(2)} km.`);


			  map.setCenter({ lat: latitude, lng: longitude });

			  var marker = new google.maps.Marker({
				position: { lat: latitude, lng: longitude },
				map: map,
				title: address,
			  });
			} else {
			  $('#sugestoes-localidades').empty();
			}
		  });
	  }


	  // Função que será chamada no keyup do campo de pesquisa e também no clique do botão "Pesquisar"
    function onSearch() {
      geocodeAddress();

      setTimeout(function() {
        $('#barra-pesquisa').css({ 'min-width': '80%' });
        $('.fa-times-circle-o').show();
        $('#btn-pesquisar').show();
      }, 1000);
    }

    $(document).ready(function() {
      initMap();




		$('#barra-pesquisa').keyup(function() {
			onSearch();
			var input = $(this).val();

			// Criação do objeto de Autocompletar
			var autocompleteService = new google.maps.places.AutocompleteService();

			// Solicitar sugestões
			autocompleteService.getPlacePredictions({ input: input }, function(predictions, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					// Limpar a lista de sugestões anteriores
					$('#sugestoes-localidades').empty();

					// Exibir as novas sugestões
					predictions.forEach(function(prediction) {
						if (prediction.description.includes('Araraquara - SP, Brasil')) {
							$('#sugestoes-localidades').append('<div class="prediction-description btn btn-light d-block text-left my-1">' + prediction.description + '</div>');
						}
					});
				}
			});
		});



	  $(document).on('click','.prediction-description',function(){
	  		escolha = $(this).text();
	  		$('#barra-pesquisa').val(escolha);
	  		$('#sugestoes-localidades').empty();

	  });










      // Evento do clique do botão "Pesquisar"
      $('#btn-pesquisar').click(function() {

      });
    });











	</script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	 <!-- Inclua a API do Google Maps -->
	    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6EVGvxZFbZ1wg_5pP9onIn9FQeh1VBFY&callback=initMap&libraries=places""></script>
		<div id="rodape-propriedade" class="p-3 text-center">
			<hr  class="bg-dark-customizer">
			<div>Realize Seu Imóvel</div>
			<div>
				<i class="fa fa-whatsapp" style="color:#25D366;" aria-hidden="true"></i>
				<span>16 99994-6950</span>
			</div>
			<span>Endereço</span>
			<span>AV. Rodrigo Fernando Grillo,207 Edifício Victoria Business 14801-534 Araraquara, SP</span>

		</div>


	<!-- RODAPÉ -->
		<footer class="text-center my-5" >
			<i class="fa fa-copyright" aria-hidden="true">Copyright</i>
			<div>Antherus - Desenvolvimento Web</div>
			<small><i class="fa fa-whatsapp mr-1" aria-hidden="true"></i><span>(16) 99337-9492</span></small>
		</footer>

</body>
</html>