<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Desconto de Até 57 mil reais na casa própria. Mas corra é por tempo limitado. Inscrição para Casas do Parque São Lucas - Araraquara S/P">
	<title>Realize seu Imovel - Parque São Lucas </title>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Jquery CDN -->
	 <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

	<!-- Boostrap 4 CDN  -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


	<!-- FontAwesome CDN -->
	<script src="https://kit.fontawesome.com/a69cec9c91.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="fontawesome/css/all.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

	<!-- CSS -->
	 <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-lp.css'%}">


	<!-- Java Script -->
	 <script type="text/javascript" src="{% static 'js/script-lp.js' %}"></script>

	<script type="text/javascript">
		// Define a data e hora da meia-noite
		var meiaNoite = new Date();
		meiaNoite.setHours(24, 0, 0, 0); // Define as horas, minutos, segundos e milissegundos para meia-noite

		// Função para formatar o tempo no formato "hh:mm:ss"
		function formatarTempo(tempo) {
		  var horas = Math.floor(tempo / 3600);
		  var minutos = Math.floor((tempo % 3600) / 60);
		  var segundos = Math.floor(tempo % 60);

		  var formatoHora = horas < 10 ? "0" + horas : horas;
		  var formatoMinuto = minutos < 10 ? "0" + minutos : minutos;
		  var formatoSegundo = segundos < 10 ? "0" + segundos : segundos;

		  return formatoHora + ":" + formatoMinuto + ":" + formatoSegundo;
		}

		// Função para atualizar a contagem regressiva
		function atualizarContagemRegressiva() {
		  var agora = new Date(); // Obtém a hora atual
		  var diferenca = Math.floor((meiaNoite.getTime() - agora.getTime()) / 1000); // Calcula a diferença em segundos

		  // Verifica se a contagem chegou a zero
		  if (diferenca <= 0) {
			clearInterval(intervalo); // Para a atualização da contagem regressiva
			console.log("Meia-noite!");
			return;
		  }

		  var tempoFormatado = formatarTempo(diferenca);

		  // Exibe a contagem regressiva
		  $('#timer').html(tempoFormatado);
		}

		// Atualiza a contagem regressiva a cada segundo
		var intervalo = setInterval(atualizarContagemRegressiva, 1000);



	</script>






</head>
<body>
	<!-- CONTAINER -->
	<div class="container container-fluid">
		<header class="">
			<img src="{% static 'img/logo-marca.png' %}" alt="logo-marca" class="img img-fluid  " id="logomarca">
		</header>
		<hr>
		<div class="text-center m-0 p-0"><h3 class="p-1" id="titulo-empreendimento">{{empreendimento.nome_empreendimento|upper}}</h3></div>
		<!--CARROUSSEL COM AS FOTOS -->
		<div id="carousel-capa" class="carousel slide m-0 p-0 border rounded bg-warning" data-ride="carousel">

		  <ol class="carousel-indicators">
		    <li data-target="#carousel-capa" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-capa" data-slide-to="1"></li>
		    <li data-target="#carousel-capa" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">

			  {% for carroussel_vinculado in carroussel_vinculado %}
			<div class="carousel-item {% if forloop.first %} active {% endif %}">
			  <img class="w-100 " src="{{carroussel_vinculado.imagens.url}}" alt="Slide 1">
			</div>
			  {% endfor %}



		  </div>
		  <a class="carousel-control-prev" href="#carousel-capa" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carousel-capa" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<!-- FINAL CARROUSSEL COM AS FOTOS -->




		<!-- COPY LP -->
		<div id="copy-lp" class="bg-warning border rounded p-1 mb-1">
			<img src="{% static 'img/logo-casa-verde-amarela-2.png' %}" class="img img-fluid p-1" id="logo-casa-verde-amarela" alt="logo-casa-verde-amarela">
			<h2 class="text-center font-weight-bold py-3" id="header-copy-lp">Saia do Aluguel</h2>
			<h2  class="text-center font-weight-bold py-3" id="header-copy-lp-2">Subsídio de até<br>R$ 57.000,00</h2>
			 <h2 id="texto-copy-lp " class="text-center p-3">Conquiste seu sonho com parcelas que cabem no bolso.
				Adeus aluguel e consquiste o sonho da casa própria.
			</h2>

			<div class="text-center" id="cronometro">
				<h4 class="m-0 p-0">Oferta acaba em</h4>
				<div id="timer"></div>
			</div>
		</div>
		<!-- DESTAQUE DO EMPRRENDIMENTO -->
		<div id="faixa-giratoria" class="text-center">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2500">
			  <div class="carousel-inner">
					  <div class="carousel-item active">
						<span class="itens-faixa-giratoria" >O Empreendimento Tem</span>
					 </div>
				  {% for itens_vinculado in itens_vinculado %}
					 <div class="carousel-item ">
					    <span class="itens-faixa-giratoria" >{{itens_vinculado.item_empreendimento}}</span>
					 </div>
				  {% endfor %}

			  </div>
			</div>






		</div>

		<div id="area-formulario" class="">

			<form id="form" class=" bg-warning border rounded px-5" method="POST" action="">
				{% csrf_token %}
				<h5 class="p-2 font-weight-bold text-center" id="">Preencha o formulário e confira o valor do seu subsídio!!</h5>
				<div class="form-group">
					<label for="nome-leads" class="label-form">Nome</label>
					<input type="text" class="form-control " name="nome_leads" id="nome-leads">
				</div >

				<div class="form-group">
					<label for="email-leads" class="label-form">E-mail</label>
					<input type="text" class="form-control  " name="email_leads" id="email-leads">
				</div>

				<div class="form-group">
					<label for="whatsapp-leads" class="label-form">WhatsApp</label>
					<input type="text" class="form-control  " name="whatsapp_leads" id="whatsapp-leads">
				</div>




					<!-- CAMPO BTN ENVIAR -->
					<div id="btn-salvar" class="form-group text-center" >
						<button type="submit" name="enviar" id="enviar" class="btn-lg btn-outline-warning text-dark p-3 " >Solicitar Calculo Subsídios</button>

						<br>
					</div>





			</form>
		</div>



		<!-- FINAL DESTAQUE DO EMPREEDIMETO -->







		<!-- CARACTERÍSTICA DO IMÓVEL -->

		<div id="caracteristica-imovel"  class=" rounded caracteristica-imovel">
			<h5 class="text-center p-1 " id="header-caracteristica">CARACTERÍSTICAS DO IMÓVEL</h5>
			<ul>
					{% for itens_vinculado in itens_vinculado %}
					<li class="text-left ml-3 p-3">
						<i class="fa fa-square-o icone-check" aria-hidden="true"></i>
						<span class="item-caracteristica-imovel">{{itens_vinculado.item_empreendimento}}</span>
					</li>
					{% endfor %}



			</ul>
		</div>

		<!-- FINAL CARACTERISTICAS IMOVEL -->

		<!-- INICIO MAPA LOCALIZAÇAO -->
		<div id="localizacao" class="p-2">
				<h5 class="text-center p-1" id="header-localizacao">LOCALIZAÇÃO</h5>
			   <iframe id="mapa-localizacao" title="localização empreendimento" class="border rounded" src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d118603.11488033613!2d-48.158417!3d-21.728056!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDQzJzQxLjAiUyA0OMKwMDknMzAuMyJX!5e0!3m2!1spt-BR!2sus!4v1686189196567!5m2!1spt-BR!2sus"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	  </div>
		<!-- FINAL MAPA LOCALIZAÇÃO -->

		<!- COPY  FINAL E BTN VOLTAR FORMULÁRIO -->
			<div id="copy-final" class="text-center">
				<h6 class="text-center">O que você está esperando??</h6>
				<p class="p-3" id="texto-copy-final">Preencha o formulário e descubra como é fácil adquir sua casa própria com as melhores vantagens do mercado!!!</p>
				<div class="text-center">
					<a href="#area-formulário" class="btn btn-warning rounded" id="btn-voltar-form">Preencher Formulário</a>
				</div>
			</div>
		<!-  TERMINO COPY FINAL E BTN VOLTAR FORMULÁRIO -->




		<!-- FOOTER -->
		<footer>
			<p class="text-center m-0">Desenvolvido por Antherus</p>
			<p class=" text-center m-0 p-0"><i class="fa fa-whatsapp m-0 p-0" ></i>16 993379492</p>

		</footer>



	</div>
	<!-- FINAL CONTAINER -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>