<!DOCTYPE html>
{% load static %}
 {% csrf_token %}



<html lang="pt-br">
<head>


	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Antherus</title>

	

	 <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">



	

	<!-- Jquery CDN -->
	 <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

	<!-- Boostrap 4 CDN  -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


	<!-- FontAwesome CDN -->
	<script src="https://kit.fontawesome.com/a69cec9c91.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="fontawesome/css/all.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.min.js" integrity="sha512-hAJgR+pK6+s492clbGlnrRnt2J1CJK6kZ82FZy08tm6XG2Xl/ex9oVZLE6Krz+W+Iv4Gsr8U2mGMdh0ckRH61Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- ----------------------------------- Jquery Ui 1.13.2 ----------------------------------------------------- -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

     



	<!-- CSS -->
	 <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-upload.css' %}">

	 <script type="text/javascript">
	 	$(document).ready(function(){
	 		$('.dz-button').html('Arraste ou clique para adicioanar imagens');
	 		$('.dz-error-message').html('Não pode adicionar mais nenhuma imagem');

	 	})
	 </script>

	  <style>
        body {
            background-color: #f8f8f8 !important;
        }

        .dz {
            border: dashed !important;
            background-color: #ccc !important;
            border-radius: 10px !important;
        }

        .dz:hover {
            background-color: aliceblue !important;
        }

        .dz-progress {
          /* progress bar covers file name */
          display: none !important;
        }

        .dropzone .dz-preview .dz-error-message {
	    	top: 150px!important;
		}








    </style>




	 


</head>

<!-- Corpo do HTML -->
<body >
	<!-- Container -->
	<div class="container ">

		<!-- Header da Pagina -->
		<header id="header">
			<!-- Imagem da Logo -->
			<img src="{% static 'img/logo-2.png' %}" id="img-logo" class="img img-fluid">
		</header>

		<!-- Area do Dashboard -->
		<div id="area-form-uploads-img" class="text-center">
				<div class="m-2">
					<div class="btn btn-danger" id="btn-voltar">Voltar</div>
					<script type="text/javascript">
						$('#btn-voltar').click(function(){
							window.location.href = "";
						})
					</script>
				</div>
				<h5 class="my-5  text-center">Uploads Fotos Empreendimento</h5>
			 	<div class="">
			 		<div id="info-lp">
			 			<div id="campo-nome-empreendimento" class="p-2">
			        		<label for="nome-empreendimento" class="btn-warning rounded p-2 label">Nome Empreendimento</label>
			        		<input type="text"  id="nome-empreendimento" name="nome-empreendimento" class="form-control" value="{{lp.nome_marca}} {{lp.nome_modelo}} {{lp.ano}}">
			        	</div>

			 		</div>


					<div id="div-upload-img">
						<h6 class="m-1 text-center">UPLOAD ATÉ 10 IMAGENS</h6>
						<br>
						<form enctype='multipart/form-data' action="" method='POST'  >


							<div class="dropzone dz" id="my-dropzone">
								<input  name="veiculo_vinculado" value="{{lp.pk}}">
								<div class="fallback">
								  <input class="img" name="file" type="file" multiple />
								</div>

							</div>
							<div class="text-right p-3">
								<button   id="salvar" class="mr-5 btn btn-warning" >Salvar</button>
							</div>

						</form>

					</div>



				</div>
		</div>





	<footer class="text-center mt-5 " >
		<i class="fa fa-copyright" aria-hidden="true">Copyright</i>
		<div>Antherus - Desenvolvimento Web</div>
		<small><i class="fa fa-whatsapp mr-1" aria-hidden="true"></i><span>(16) 99337-9492</span></small>
	</footer>



	</div>
	<!-- FINAL CONTAINER -->

 <script>





      var list_of_files = new Array();
      Dropzone.autoDiscover = false;  //prevent dropzone to automatically discover the dropzone object in your html
       var myDropzone = new Dropzone('#my-dropzone',{
            parallelUploads:10,
            uploadMultiple: true, // allow multiple upload
            autoProcessQueue: false, // prevent dropzone from uploading automatically
            url: "/", //dropzone needs a url attribute or it complains, what value you put here does not really matter. It is only purpose is to prevent a javascript error message from chrome console
            maxFiles: 10, //set max uploads to 5 since you only have 5 image files in your model
            maxFilesize:2,
            acceptedFiles:'.jpg,.jpeg,.png',
            addRemoveLinks : true,
            clickable: true,
            init: function(){
                    //everytime a file is uploaded, save the file object
                    //for later use
                    this.on("addedfile", function(file)
                        {

                            if (list_of_files.length < 10)
                            {
                                list_of_files.push(file)

                                console.log("file added");
                            }



                        });

                        //this.on('drop', function(file){
                            console.log("dropou")

                        // });





                }





        });






         // the following function override the "submit" button in the form
		  $(document).on("click", "#salvar", function(e){
				e.preventDefault() //prevent the form from submitting
				console.log('num of files: ' + list_of_files.length);
				var formData = new FormData(); // construct our own upload data
				var inputs = $("#my-dropzone input");

				//get
				$.each(inputs, function(obj, v){
					var name = $(v).attr("name")
					var val = $(v).val();
					//alert('name: ' + name + ' value: ' + val);
					formData.append(name, val);
				});

				//get the file object from dropzone and put it into our formdata
				for(i=0;i<list_of_files.length;i++)
				{
					console.log(i)
					console.log(list_of_files[i])
					formData.append('file', list_of_files[i]);



					contagem = i+1
					// alert(list_of_files.length)
					if(contagem == list_of_files.length){

						const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
						var request = new XMLHttpRequest();
						request.open("POST", "http://127.0.0.1:8000/accounts/login/gerenciador-lp/upload-img/", true); //config your post url here
						request.setRequestHeader("X-CSRFToken", csrftoken);
						request.send(formData);  //send the post request to server
						setTimeout(() => {
						  window.location.href = "http://127.0.0.1:8000/{{carossel_display.nome_empreendimento}}/";
						}, 3000);


					}




				}














			});











    </script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>
</html>