*{
	 margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;

}

 .dropzone.dz-error-message{
    visibility: hidden;
}









@media(max-width:  767.98px){

    body{
        overflow-x:hidden;
        background: whitesmoke;
        padding: 0;
        margin: 0;
    }

    .container{
        max-width: 769px;
        padding: 0;
        margin: 0;
    }

    header{
        background: black;
        padding: 0;
        margin: 0;
        min-width: 769px;
    }

    #img-logo{
        max-width:50%;
        max-height: 5em;
    }

    .label{
        position: relative;
        top:0.7em;  
    }

    .deletar{
        position: relative;
        left: 50%;
    }

    .fa-pencil-square{
        font-size: 3em;
        position: relative;
        left: 85%;
        color: gray;
    }

    .fa-trash-o{
        position: relative;
        top: 1em;
        font-size: 3em;
        
        color: red;
    }

    


   






}


@media(min-width:  768px) and (max-width: 1023.97px){

     body{
        overflow-x:hidden;
        background: whitesmoke;
        padding: 0;
        margin: 0;
    }

    .container{
        max-width: 80%;
        padding: 0;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header{
        background: black;
        padding: 0;
        margin: 0;
        min-width: 1024px;
        position: relative;
        left: -5em;
    }

    #conteudo{

    }

    #img-logo{
        max-width:50%;
        max-height: 7em;
    }

    .label{
        position: relative;
        top:0.7em;  
    }

    .deletar{
        position: relative;
        left: 50%;
    }

    .fa-pencil-square{
        font-size: 3em;
        position: relative;
        left: 90%;
        color: gray;
    }

    .fa-trash-o{
        position: relative;
        top: 1em;
        font-size: 3em;
        
        color: red;
    }

    

}


@media(min-width:  1024px) {

     body{
        overflow-x:hidden;
        background: whitesmoke;
        padding: 0;
        margin: 0;
    }

    .container{
         max-width: 100%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;

    }

    header{
        background: black;
        padding: 0;
        margin: 0;
         width: 100%;
        position: relative;
        left: 0em;
    }

    #conteudo{
        max-width: 80%;
        position: relative;
        left: 10%;

    }

    #img-logo{
        max-width:50%;
        max-height: 7em;
        position: relative;
        left: 0em;
    }

    .label{
        position: relative;
        top:0.7em;  
    }

    .deletar{
        position: relative;
        left: 50%;
    }

    .fa-pencil-square{
        font-size: 3em;
        position: relative;
        left: 95%;
        color: gray;
    }

    .fa-trash-o{
        position: relative;
        top: 1em;
        font-size: 3em;
        
        color: red;
    }


    

}
