*{
	margin: 0;
	padding: 0;
}

#menu-deslizante{
	height: 90%;
	background: lightgray;
}

#btn-whatsapp-flutuante{
	color:#25D366;
	font-size: 3em;
	position: relative;
	left:80%;
	text-shadow: 1px 3px 2px rgba(53,255,0,0.6);
}






@media (max-width: 320.97px) {

	body{
		max-width: 100%;
	}

	#img-logo{
		max-height: 5em;
	}




	#barra-pesquisa{
		max-width: 80%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:75%;
		top:-1.5em;
	}

	#btn-pesquisar{
		position: relative;
		left: 75%;
		top:-2.5em;
	}

	#whatsapp-flutuante{
		position: fixed;
		top:10em;
		left:65%;
	}



}

@media (min-width:  321.00px) and (max-width:360.98px) {

	body{
		max-width: 100%;
	}

	#img-logo{
		max-height: 5em;
	}




	#barra-pesquisa{
		max-width: 80%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:-0.5em;
		top:0;
	}

	#btn-pesquisar{
		position: relative;
		left: 95%;
		top:-2.5em;
	}

	#whatsapp-flutuante{
		position: fixed;
		top:10em;
		left:65%;
	}



}

@media (min-width: 361px) and (max-width:  375.98px){
	body{
		max-width: 100%;
	}

	#img-logo{
		max-height: 5em;
	}




	#barra-pesquisa{
		max-width: 80%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:-0.5em;
		top:0;
	}

	#btn-pesquisar{
		position: relative;
		left: 95%;
		top:-2.5em;
	}

	#whatsapp-flutuante{
		position: fixed;
		top:10em;
		left:65%;
	}

}


@media (min-width: 376px) and (max-width:  428.98px) {
	body{
		max-width: 100%;
	}

	#img-logo{
		max-height: 5em;
	}




	#barra-pesquisa{
		max-width: 80%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:-0.5em;
		top:0;
	}

	#btn-pesquisar{
		position: relative;
		left: 95%;
		top:-2.5em;
	}

	#whatsapp-flutuante{
		position: fixed;
		top:10em;
		left:65%;
	}

	#display-imoveis{
        display: initial;
    }

    #mapa-pesquisa{
        display: none;
    }

    .custom-marker{
        font-size:12px;
    }



}

@media (min-width: 429.00px) and (max-width:  768.98px) {
	body{
		min-width: 100%;
		background: white;
	}

	#img-logo{
		max-height: 5em;
	}




	#barra-pesquisa{
		min-width: 85%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:0em;
		top:0;
	}

	#btn-pesquisar{
		position: relative;
		left:0em;
		top:0;
	}

	#whatsapp-flutuante{
		position: fixed;
		top:10em;
		left:85%;
	}
}

@media (min-width: 769.00px){

	body{
		min-width: 100%;
		background: white;
	}

	#img-logo{
		max-height: 3em;
	}




	#barra-pesquisa{
		min-width: 90%;
		position: relative;
		left: -1em;
	}

	#apagar-pesquisa{
		position: relative;
		left:0em;
		top:0;
	}

	#btn-pesquisar{
		position: relative;
		left:0em;
		top:0;
	}

	#whatsapp-flutuante{
         position: fixed;
		top:10em;
		left:90%;

		border-radius:50%;
		height:0.9em;
		width:0.9em;
		color:white;
		font-size:2.5em;



	}

	.prediction.description:hover{
	    background:aliceblue;
	}

	.card-display-imoveis{
	    display:inline;
	}





}