
*{
	 margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Celulares Moto G*/
@media (max-width:  320.97px) {
    body{
        margin: 0 ;
        padding: 0;
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;
        background: lavender;
        min-height: 900px;
    }


    .container-fluid{
         max-width:320px;
    }

    #header{
        width:360px;
        background: #0E0816;
        position: relative;
        left:-1.7em;
    }

    #img-logo{
        max-width:300px;
        max-height: 70px;
        position: relative;
        left:1em;
    }



    #data-hora-header{
        max-width: 330px;
        position: relative;
        left:0em;
        font-size: 1em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        width: 360px;
        position: relative;
        left:-1.5em;
    }


    #pesquisa{

         max-height: 70px;

    }

    #barra-pesquisa{
        max-width: 320px;
        padding-left:2em;
        position: relative;
        left:0.3em;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        left: 0em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 320px;
        font-weight: 800;
        white-space: nowrap;
       font-size: 1.1em;


    }

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
         max-width: 320px;
    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-1em;
        margin: 0.5em;
    }

    #editar-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:0em;
         margin: 0.5em;

    }

    #btn-config-estoque{
        min-width:300px;
    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:0em;
        display:block;
        max-width:300px;

    }

    #estoque-veiculos{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:0em;
        display:block;
        max-width:300px;

    }

    .text-decoration-none{
          text-decoration: none;
    }



    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 300px;

        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding: 1em;
        font-weight: 700;
        font-size: 1.2em;


    }

    .btn-menu:hover{
        max-width: 300px;
    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        min-width: 320px;

        position: relative;
        top: 1em;
        left: -1em;
    }

    #leads-board{
        overflow-x: scroll;
        max-height: 500px;
         min-width: 320px;

    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 360px;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;


    }


    .close{
        font-size: 4em;
        position: relative;
        top:-0.3em;
    }

    .modal-title{

        border-radius:5% ;
        white-space: nowrap;
        min-height: 20px;
        font-weight: 800;
        position: relative;
        top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
        border: 1px solid black;
        border-radius: 2%;
        position: relative;
        top:-1em;
        font-weight: 700;
        font-size: 1.2em;
    }

     .label-info-leads{
        font-size:1.3em ;
        font-weight:700 ;
    }

    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{

       word-break: break-all


    }

    #info-nome{
        position: relative;
        top:0.1em;
    }

    #campo-remetente{
        position: relative;
        top:1.5em;
    }

    .remetente-label{
        position: relative;
        top:0.5em;
    }

    #campo-recebido{
        position: relative;
        top:-3.5em;
        left:0em;


    }

    #campo-email{
        position: relative;
        top:0em;
    }

    #whatsapp-leads{
        position: relative;
        left: 0em;
    }

    .link-whatsapp{

        color: green;

    }

    #iniciar-atendimento{

        margin-bottom: 1em;
    }


    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

    #envelope{
        position: relative;
        top:0.3em;
        left: 0.5em;

        font-size: 1.5em;
    }

    #remetente{
       max-width: 180px;
       position: relative;
       top:-2em;
       left:2.8em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{
       max-width: 140px;
       position: relative;
       top:-2em;
       left:6em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }







    footer{
        position: relative;
        left:0em;
        top:5em;
        text-align: center;
        color:black;

    }

}






/* Celulares Moto G*/
@media (min-width: 321px) and (max-width:  360.97px) {
    body{


        margin: 0 ;
        padding: 0;

         overflow-x: hidden;
          font-family:Noto Sans, sans-serif;



         background: lavender;

        min-height: 900px;


    }

    html{
         overflow-x: hidden;

    }


    .container-fluid{

         max-width: 415px;

    }

    #header{
        width:360px;
        background: #0E0816;
        position: relative;
        left:-1em;
    }

    #img-logo{
        max-width:300px;
        max-height: 70px;
        position: relative;
        left:1em;
    }

    #data-hora-header{
        max-width: 330px;
        position: relative;
        left:0em;
        font-size: 1em;
        font-weight: 600;

        white-space: nowrap;

    }


    #navegacao{
        width: 360px;
        position: relative;
        left:-1.5em;
    }


    #pesquisa{

         max-height: 70px;

    }

    #barra-pesquisa{
        max-width: 360px;
        padding-left:2em;
        position: relative;
        left:0.3em;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        left: 0.5em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 320px;
        font-weight: 800;
        white-space: nowrap;
       font-size: 1.1em;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1em;
         max-width: 320px;
         position: relative;
        left:2em;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:0em;
        margin: 0.5em;
    }

    #editar-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:0em;
         margin: 0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.1em;

    }

     #estoque-veiculos{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:0em;
        display:block;
        max-width:300px;

    }

    .text-decoration-none{
          text-decoration: none;
    }


    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 300px;
        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding: 1em;
        font-weight: 700;
        font-size: 1.2em;
    }

    .btn-menu:hover{
        max-width: 300px;
    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        min-width: 350px;

        position: relative;
        top: 1em;
        left: -1em;
    }

    #leads-board{
        overflow-x: scroll;
        max-height: 500px;
         min-width: 350px;

    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 360px;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;


    }

    .close{
        font-size: 4em;
        position: relative;
        top:-0.3em;
    }

    .modal-title{

        border-radius:5% ;
        white-space: nowrap;
        min-height: 20px;
        font-weight: 800;
        position: relative;
        top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
        border: 1px solid black;
        border-radius: 2%;
        position: relative;
        top:-1em;
        font-weight: 700;
        font-size: 1.2em;
    }

     .label-info-leads{
        font-size:1.3em ;
        font-weight:700 ;
    }

    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{

       word-break: break-all


    }

    #info-nome{
        position: relative;
        top:0.1em;
    }

    #campo-remetente{
        position: relative;
        top:1.5em;
    }

    .remetente-label{
        position: relative;
        top:0.5em;
    }

    #campo-recebido{
        position: relative;
        top:-3.5em;
        left:0em;
    }

    #campo-email{
        position: relative;
        top:0em;
    }

    #whatsapp-leads{
        position: relative;
        left: 0em;
    }

    .link-whatsapp{

        color: green;

    }

    #iniciar-atendimento{
        margin-bottom: 1em;
    }



    #historico-atendimento{
        position: relative;
        top:-1em;
    }

     #btn-cadastrar-atendimento{
        font-size: 1.5em;
        position: relative;
        left:0em;
    }


    #btn-mostra-display-atendimento{
        font-size: 1.5em;
        position: relative;
        left:0em;
    }

    #display-atendimentos{
        overflow: scroll;
        height: 150px;
        width: 360px;
        white-space: normal;
        font-weight: 700;
        border:1px solid gray;
        border-radius: 2%;
        position: relative;
        top:-0.5em;
        left: 0.1em;

    }


    #descricao-atendimento{
        overflow: scroll;
        white-space: normal;
        height: 90px;
        width: 360px;
        font-size: 1.3em;
    }

    #cadastro-help{
        font-size: 1em;
    }

    #btn-salvara-atendimento{
        font-size: 2em;
        position: relative;
        left: 3.5em;
    }



    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

    #envelope{
        position: relative;
        top:0.3em;
        left: 0.5em;

        font-size: 1.5em;
    }

    #remetente{

       max-width: 180px;

       position: relative;
       top:-2em;
       left:2.8em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{

       max-width: 140px;

       position: relative;
       top:-2em;
       left:6em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }







    footer{
        position: relative;
        left:-2em;
        top:5em;
        text-align: center;
        color:black;

    }

}

/* Celulares Médio*/
@media (min-width: 361px) and (max-width:  375.97px) {
    body{
	    margin: 0 ;
	    padding: 0;
		overflow-x: hidden;
		font-family:Noto Sans, sans-serif;
		background: lavender;
		min-height: 2000px;
	}

	html{
		 overflow-x: hidden;

	}


	.container-fluid{

		 width: 400px;

	}

	#header{
		width:425px;
		background: #0E0816;
		position: relative;
		left:-1.5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:6em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:0em;
		font-size: 1em;
		font-weight: 600;

	}


	#navegacao{
		width: 425px;
		position: relative;
		left:-1.5em;
	}


	#pesquisa{
         max-height: 70px;
    }

    #barra-pesquisa{
        max-width: 415px;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;
        min-height: 50px;
         z-index: 0;
         font-size: 2em;
    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1em;
        max-width: 360px;
        position: relative;
        left:1em;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.6em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #estoque-veiculos{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:10%;
        display:block;
        max-width:300px;

    }

    .text-decoration-none{
          text-decoration: none;
    }



    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;
        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;
    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        width: 400px;

        position: relative;
        top: 1em;
        left: -1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 410px;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;

    }




    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{
    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }


    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{
       word-break: break-all
    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;


    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{

    	color: green;

    }

    #iniciar-atendimento{

    	margin-bottom: 1em;
    }


    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

   #envelope{
        position: relative;
        top:0.3em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 1.5em;
    }

    #remetente{
       max-width: 180px;
       position: relative;
       top:-2em;
       left:6em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{
       max-width: 140px;
       position: relative;
       top:-2em;
       left:8em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }



	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}


}




/* Celulares até 5,5 Polegadas Tamanho G */
@media (min-width: 376px) and (max-width:  428.98px) {
	body{
	    margin: 0 ;
	    padding: 0;
		overflow-x: hidden;
		font-family:Noto Sans, sans-serif;
		background: lavender;
		min-height: 2000px;
	}

	html{
		 overflow-x: hidden;
	}


	.container-fluid{
		 width: 400px;
	}

	#header{
		width:425px;
		background: #0E0816;
		position: relative;
		left:-1.5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:6em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:0em;
		font-size: 1.3em;
		font-weight: 600;
	}


	#navegacao{
		width: 425px;
		position: relative;
		left:-1.5em;
	}


	#pesquisa{
         max-height: 70px;
    }

    #barra-pesquisa{
        max-width: 415px;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;
        min-height: 50px;
        z-index: 0;
        font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1em;
        max-width: 360px;
        position: relative;
        left:1em;
    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.85em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;
    }

    #estoque-veiculos{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:10%;
        display:block;
        max-width:300px;

    }

    .text-decoration-none{
          text-decoration: none;
    }


    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;
        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;
    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }

    #dashboard{
        border:1px solid black;
        border-radius:1%;
        width: 400px;

        position: relative;
        top: 1em;
        left: -1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 410px;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;
    }

    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{
    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;
    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }


    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{

       word-break: break-all

    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;


    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{

    	color: green;

    }

    #iniciar-atendimento{

    	margin-bottom: 1em;
    }


    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

   #envelope{
        position: relative;
        top:0.3em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 1.5em;
    }

    #remetente{
       max-width: 180px;
       position: relative;
       top:-2em;
       left:6em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }

    #data-horario{
       max-width: 140px;
       position: relative;
       top:-2em;
       left:8em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }



	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}


}


/* Tablet Menor */
@media (min-width: 429.00px) and (max-width:  768.98px) {
    body{


	    margin: 0 ;
	    padding: 0;

		 overflow-x: hidden;
		  font-family:Noto Sans, sans-serif;



		 background: lavender;

		min-height: 2000px;


	}

	html{
		 overflow-x: hidden;

	}


	.container-fluid{
		 max-width: 768px;
	}

	#header{
		width:110%;
		background: #0E0816;
		position: relative;
		left:-1em;
		min-height:5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:6em;
		top:0.5em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:25%;
		font-size: 1.3em;
		font-weight: 600;

	}


	#navegacao{
		width: 768px;
		position: relative;
		left:-1.5em;
	}


	#pesquisa{

         max-height: 70px;

    }

    #barra-pesquisa{
        max-width: 768px;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
        text-align: center;
        position: relative;
        left:25%;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1em;
        max-width: 360px;
        position: relative;
        left:25%;
    }


    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.85em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    .text-decoration-none{
          text-decoration: none;
    }







    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;

        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;


    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        min-width: 65%;

        position: relative;
        top: 1em;
        left: 0.1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 100%;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;
        padding-left:25%;


    }




    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{

    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }


    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{

       word-break: break-all

    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;


    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{

    	color: green;

    }

    #iniciar-atendimento{

    	margin-bottom: 1em;
    }


    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

   #envelope{
        position: relative;
        top:0.3em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 1.5em;
    }

    #remetente{

       max-width: 180px;

       position: relative;
       top:-2em;
       left:6em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{

       max-width: 140px;

       position: relative;
       top:-2em;
       left:8em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }


	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}


}

/*Tablet G */
@media (min-width: 769.00px) and (max-width:  1024.98px) {
    body{


	    margin: 0 ;
	    padding: 0;

		 overflow-x: hidden;
		  font-family:Noto Sans, sans-serif;



		 background: lavender;

		min-height: 2000px;


	}

	html{
		 overflow-x: hidden;

	}


	.container-fluid{

		 max-width: 768px;


	}

	#header{
		width:120%;
		background: #0E0816;
		position: relative;
		left:-5em;
		min-height:5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:6em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:25%;
		font-size: 1.3em;
		font-weight: 600;

	}


	#navegacao{
		width: 768px;
		position: relative;
		left:-1.5em;
	}


	#pesquisa{

         max-height: 70px;

    }

    #barra-pesquisa{
        max-width: 768px;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
        text-align: center;
        position: relative;
        left:25%;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1em;
        max-width: 360px;
        position: relative;
        left:1em;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.85em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

     #estoque-veiculos{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    .text-decoration-none{
          text-decoration: none;
    }







    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;
        position: relative;
        left: 0.5em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;
    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        min-width: 65%;

        position: relative;
        top: 1em;
        left: 0.1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 100%;
        max-height: 3.5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;
        padding-left:25%;


    }




    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{

    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }


    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{

       word-break: break-all

    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;


    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{

    	color: green;

    }

    #iniciar-atendimento{

    	margin-bottom: 1em;
    }


    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

   #envelope{
        position: relative;
        top:0.3em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 1.5em;
    }

    #remetente{

       max-width: 180px;

       position: relative;
       top:-2em;
       left:6em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{

       max-width: 140px;

       position: relative;
       top:-2em;
       left:8em;
       padding-left: 0.3em;
       font-size: 1em;
       white-space: nowrap;
       font-weight: 700;
    }


	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}


}

/* Laptop */
@media (min-width: 1025.00px) and (max-width:  1440.98px) {
     body{
	    margin: 0 ;
	    padding: 0;
		overflow-x: hidden;
		font-family:Noto Sans, sans-serif;
		background: lavender;
		min-height: 2000px;
	}

	html{
		 overflow-x: hidden;
	}


	.container-fluid{
		 max-width:100%;
	}

	#header{
		width:120%;
		background: #0E0816;
		position: relative;
		left:-5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:10em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:35%;
		font-size: 1.3em;
		font-weight: 600;

	}


	#navegacao{
		width: 100%;
		position: relative;
		left:0em;
	}


	#pesquisa{

         max-height: 50px;

    }

    #barra-pesquisa{
        min-width: 100%;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1em;

         max-width: 360px;
         position: relative;
        left:35%;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.85em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #estoque-veiculos{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    .text-decoration-none{
          text-decoration: none;
    }


    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;

        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;


    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }




    #dashboard{
        border:1px solid black;
        border-radius:1%;
        min-width: 65%;

        position: relative;
        top: 1em;
        left: 0.1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 100%;
        max-height: 2em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;
        padding-left:25%;



    }

    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{

    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }


    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{

       word-break: break-all

    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;
    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{

    	color: green;

    }

    #iniciar-atendimento{

    	margin-bottom: 1em;

    }




    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

   #envelope{
        position: relative;
        top:0em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 1.2em;
    }

    #remetente{
       max-width: 180px;
       position: relative;
       top:-1.5em;
       left:6em;
       padding-left: 0.3em;
       font-size: 0.9em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{

       max-width: 140px;

       position: relative;
       top:-3em;
       left:22em;
       padding-left: 0.3em;
       font-size: 0.9em;
       white-space: nowrap;
       font-weight: 700;
    }



	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}


}


/* LaptopG */
@media (min-width: 1400.00px) and (max-width:  2560.98px) {
    body{
	    margin: 0 ;
	    padding: 0;
		overflow-x: hidden;
		font-family:Noto Sans, sans-serif;
		background: lavender;
		min-height: 2000px;
	}

	html{
		 overflow-x: hidden;

	}


	.container-fluid{
		 max-width:100%;
	}

	#header{
		width:120%;
		background: #0E0816;
		position: relative;
		left:-5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:10em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:35%;
		font-size: 1.3em;
		font-weight: 600;

	}


	#navegacao{
		width: 100%;
		position: relative;
		left:0em;
	}


	#pesquisa{

         max-height: 50px;

    }

    #barra-pesquisa{
        min-width: 100%;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 2.5em;

         max-width: 360px;
         position: relative;
        left:40%;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.85em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #estoque-veiculos{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    .text-decoration-none{
          text-decoration: none;
    }


    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;

        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;


    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        min-width: 65%;
        position: relative;
        top: 1em;
        left: 0.1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 100%;
        max-height: 5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;
        padding-left:25%;
    }

    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{

    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }


    .text-info-leads{

        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{

       word-break: break-all

    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;
    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{
    	color: green;
    }

    #iniciar-atendimento{
    	margin-bottom: 1em;
    }


    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

   #envelope{
        position: relative;
        top:0.5em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 2em;
    }

    #remetente{
       max-width: 180px;
       position: relative;
       top:-0.9em;
       left:5em;
       padding-left: 0.3em;
       font-size: 2em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{
       max-width: 140px;
       position: relative;
       top:-2.5em;
       left:25em;
       padding-left: 0.3em;
       font-size: 2em;
       white-space: nowrap;
       font-weight: 700;
    }


	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}
}


/* Telas Wide Screen */
@media (min-width: 2559.00px){
     body{
	    margin: 0 ;
	    padding: 0;
		overflow-x: hidden;
		font-family:Noto Sans, sans-serif;
		background: lavender;
		min-height: 2000px;

	}

	html{
		 overflow-x: hidden;
	}


	.container-fluid{
		 max-width:100%;
	}

	#header{
		width:120%;
		background: #0E0816;
		position: relative;
		left:-5em;
	}

	#img-logo{
		max-width:300px;
		max-height: 70px;
		position: relative;
		left:10em;
	}

	#data-hora-header{
		max-width: 420px;
		position: relative;
		left:35%;
		font-size: 1.3em;
		font-weight: 600;

	}


	#navegacao{
		width: 100%;
		position: relative;
		left:0em;
	}


	#pesquisa{

         max-height: 50px;

    }

    #barra-pesquisa{
        min-width: 100%;
        padding-left:2em;
        position: relative;
        left:0;
        top:-2em;

        min-height: 50px;
         z-index: 0;
         font-size: 2em;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 3em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
        border:1px solid black;
    }

    #header-menu-deslizante{
        max-width: 360px;
    	font-weight: 800;
    	white-space: nowrap;
        text-align: center;
        position: relative;
        left:1em;
    }

    #nome-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1em;

         max-width: 360px;
         position: relative;
        left:10em;

    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
        min-width:250px ;
        min-height: 250px;
        position: relative;
        left:-0.85em;
    }

    #editar-perfil{
    	font-weight: 800;
    	white-space: nowrap;
    	font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    #config-perfil{
        font-weight: 800;
        white-space: nowrap;
        font-size: 1.5em;
        position: relative;
        left:-0.5em;

    }

    .text-decoration-none{
          text-decoration: none;
    }

    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 400px;
        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.3em;
    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }


    #dashboard{
        border:1px solid black;
        border-radius:1%;
        min-width: 65%;

        position: relative;
        top: 1em;
        left: 0.1em;
    }

    #leads-board{
    	overflow-x: scroll;
    	max-height: 500px;
    }

    #header-leads-board{
        font-weight: 800;
    }

    #sub-header-leads-board{
        font-weight: 700;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 100%;
        max-height: 5em;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;
        padding-left:25%;

    }


    .modal{
       overflow: scroll;
    }

    .close{
    	font-size: 4em;
    	position: relative;
    	top:-0.3em;
    }

    .modal-title{
    	border-radius:5% ;
    	white-space: nowrap;
    	min-height: 20px;
    	font-weight: 800;
    	position: relative;
    	top:1em;

    }

    .modal-body{
        position: relative;
        top:-1.5em;
        z-index: 1;
    }


    #info-leads{
    	border: 1px solid black;
    	border-radius: 2%;
    	position: relative;
    	top:-1em;
    	font-weight: 700;
    	font-size: 1.2em;
    }

     .label-info-leads{
    	font-size:1.3em ;
    	font-weight:700 ;
    }


    .text-info-leads{
        white-space:normal;
        color: green;
        font-size: 0.8em;
    }

    .text-info-leads-2{
       word-break: break-all
    }

    #info-nome{
    	position: relative;
    	top:0.1em;
    }

    #campo-remetente{
    	position: relative;
    	top:-2em;
    }

    .remetente-label{
    	position: relative;
    	top:0.5em;
    }

    #campo-recebido{
    	position: relative;
    	top:-3.5em;
    	left:0em;
    }

    #campo-email{
    	position: relative;
    	top:0em;
    }

    #whatsapp-leads{
    	position: relative;
    	left: 0em;
    }

    .link-whatsapp{
    	color: green;
    }

    #iniciar-atendimento{
    	margin-bottom: 1em;
    }


    #historico-atendimento{
    	position: relative;
    	top:-1em;
    }

     #btn-cadastrar-atendimento{
    	font-size: 1.5em;
    	position: relative;
    	left:0em;
    }


    #btn-mostra-display-atendimento{
    	font-size: 1.5em;
    	position: relative;
    	left:0em;
    }

    #display-atendimentos{
    	overflow: scroll;
    	height: 150px;
    	width: 360px;
    	white-space: normal;
    	font-weight: 700;
    	border:1px solid gray;
    	border-radius: 2%;
    	position: relative;
    	top:-0.5em;
    	left: 0.1em;

    }

    #descricao-atendimento{
    	overflow: scroll;
    	white-space: normal;
    	height: 90px;
    	width: 360px;
    	font-size: 1.3em;
    }

    #cadastro-help{
    	font-size: 1em;
    }

    #btn-salvara-atendimento{
    	font-size: 2em;
    	position: relative;
    	left: 3.5em;
    }


    .leads-novo{
        color: green;
    }

    .fa-envelope-open{
        color: orange;
    }

   #envelope{
        position: relative;
        top:0.5em;
        left: 1.5em;
        border-radius: 5%;
        font-size: 2em;
    }

    #remetente{

       max-width: 180px;

       position: relative;
       top:-0.9em;
       left:5em;
       padding-left: 0.3em;
       font-size: 2em;
       white-space: nowrap;
       font-weight: 700;

    }

    #data-horario{
       max-width: 140px;
       position: relative;
       top:-2.5em;
       left:25em;
       padding-left: 0.3em;
       font-size: 2em;
       white-space: nowrap;
       font-weight: 700;
    }



	footer{
		position: relative;
		left:-1em;
		top:5em;
		text-align: center;
		color:black;

	}
}

